@charset "utf-8";
/*common*/
.wrapper{position:relative;width:100%;height:auto;}
.inner{width:100%;padding:0 20px;}
/*homepage_info*/
#homepage-info div.text h2{font-size:3rem;}
/*location*/
.location_con>li:first-child{display:none;}
.location_con>li:last-child{width:100%;}
.location_con>li:last-child>a{text-align:left;padding:0 30px;}
/*site_map*/
#site_map .title_con .scale_con{display:none;}
#site_map .title_con .share_con{display:none;}
#site_map .title_con>h2{font-size:2.4rem;letter-spacing:-2px;color:#333;}
/*menu_con*/
.menu_con .tit>h2{font-size:1.6rem;}
.menu_con .menu_list>ul>li{width:50%;}
.menu_con .menu_list>ul>li>a{font-size:1.5rem;}
.menu_con .menu_list>ul>li>ul{display:none;}
.menu_con .tit>h2:after{display:none;}
/*footer*/
footer .info_wrap .text:after{content:'';display:block;clear:both;}
footer .info_wrap span{display:inline-block;}
footer .info_wrap span:nth-child(1n){float:left;width:45%;text-align:center;}
footer .info_wrap span:nth-child(2n){float:right;width:45%;text-align:center;}
footer .inner:last-of-type .address_wrap dd>a:first-of-type{margin-right:0;width:61px;height:40px;position:absolute;right:70px}
footer .inner:last-of-type .address_wrap dd>a:last-of-type{width:40px;height:40px;position:absolute;right:20px;}
footer .address_wrap p{font-size:1rem;}
@media all and (max-width:560px) {
    #homepage-info div.text h2{font-size:2.3rem;}
}