@charset "utf-8";
/*common*/
html,body{width:100%;height:100%;}
body{overflow-x:hidden;}
.wrapper{position:relative;width:100%;height:auto;transition:all 0.5s ease-out;margin-left:0;padding-top:50px;}
.inner{width:720px;margin:0 auto; }
/*header*/
#header_top .inner{width:100%;position:static;}
#header_top .header_wrap .gnb{display:none;}
/*location*/
.location_con{display:block;}
/*m_menu*/
.m_menu{display:block;position:absolute;top:0;left:0;width:60px;height:60px;background:#5294b4;}
.m_menu>a{display:block;width:100%;height:100%;line-height:60px;text-align:center;font-size:1.3rem;color:#fff;}
/*clone_menu*/  
.clone_menu{display:block;position:fixed;width:240px;height:100%;left:-240px;background:#eef5f5;transition:left 0.6s;}
.clone_menu > ul{width:100%;}
.clone_menu > ul >li{padding-left:20px; width:100%;height:45px;border-bottom: 1px solid rgba(101,164,186,0.1);}
.clone_menu > ul >li .sub_wrap{display:none;}
.clone_menu > ul >li>a{display:block;width:100%;height:100%;font-size:1.5rem;line-height:45px;font-weight:400;}
.clone_menu.open{left:0;}
.wrapper.open {left:240px;transition:left 0.6s;}
/*m_gnb*/
.m_gnb{height:60px;}
.m_gnb .logo{width:auto;height:40px;margin:calc((80px - 60px) / 2) 0;left:50%;transform:translateX(-50%);}  
.m_gnb .logo img{width:182px;height:auto;}
.m_gnb nav{position:fixed;top:60px;left:0px;width:240px;height:100%;margin-left:-240px;background:#fff;display:none;}
.m_gnb nav>ul{width:100%;margin-right:0;margin-left:0;float:none;}
.m_gnb nav>ul>li{float:none;padding:0 20px;width:100%;height:44px;border-bottom:1px solid #ccc;}
.m_gnb nav>ul>li>a{font-size:1.5rem;line-height:44px;text-align:left;color:#666;} 
.m_gnb .more_menu > a{font-size:1.5rem;padding:0 15px;color:#5a9eb4;line-height:60px;} 
.m_gnb .more_menu > a:last-child{display:none;}
/*site_map*/
#site_map{background:#fff;padding-bottom:50px;}
#site_map .title_con>h2{font-weight:500;}
.menu_con .tit{position:static;top:auto;left:0px;padding:0 20px;width:100%;height:50px;background:#5a9eb4;}
.menu_con .tit>h2{line-height:50px;text-align:left;}
.menu_con .tit:before{display:none;}
.menu_con .tit:after{display:none;}
.menu_con .tit>h2:after{content:'';position:absolute;bottom:-20px;right:-10px;}
.menu_con .menu_list{float:right;width:100%;}
.menu_con .menu_list>ul>li>ul>li>a{font-size:1.4rem;line-height:1.5em;line-height:24px;}