@charset "utf-8";
html,body{font-family:'bareundotum1','bareundotum2','Malgun Gothic','Noto Sans KR',serif;font-size: 0.625rem;line-height: 1;overflow-x: hidden;}
/*상단 바로가기*/
#skip_nav {position:fixed;left:0;top:-41px;width:100%;line-height:40px;text-align:center;font-size:16px;background:rgba(0,0,0,0.6);color:#fff;border-bottom:1px solid #fff;z-index:1000;transition: top 0.3s;}
#skip_nav:focus{top:0;}
/*header*/
#header_top{position:absolute;top:0;left:0;width: 100%;height:70px;z-index:99;font-family:'Noto Sans KR';background-color:rgba(0,0,0,0.48);transition:all 0.5s;}
#header_top .bg_box{position:absolute;top:0;left:0;width:100%;height:70px;transition:all 0.5s;border-bottom:0px solid #ccc;box-sizing:border-box;z-index:1;}
#header_top.open .bg_box{width:100%;height:70px;border-bottom:1px solid #ccc;}
#header_top.open{height:430px;}
#header_top.open .inner nav>ul>li>ul>li{height:40px; transition:height 0.4s ease-out;}
#header_top .inner{width: 1245px;height: 100%;margin: 0 auto;position:relative;}
/*logo*/
#header_top .inner .logo{float: left;width: 213px;margin-top:28px;}
#header_top .inner .logo>a{display: block;width: 100%;height:14px;background: url(../images/header_logo.png)no-repeat center;background-size: cover;}
/*navigation*/
#header_top .inner nav{float: left;width:750px;height: 100%;margin-right: 30px;}
#header_top .inner nav>ul{float: left;width:100%;height:100%;}
#header_top .inner nav>ul>li{float: left;width: 125px;height:100%;position:relative;}
#header_top .inner nav>ul>li>ul{position:absolute;top:70px;left:0;width:100%;height:0;box-sizing:border-box;overflow:hidden;transition:all 0.5s;}
#header_top.open .inner nav>ul>li>ul{height:400px;}
#header_top .inner nav>ul>li>ul>li{width:100%;height:40px;}
#header_top .inner nav>ul>li>ul>li>a{display:block;width:100%;height:100%;text-align:center;line-height:40px;font-size:1.3rem;font-weight:normal;color:#fff;}
#header_top .inner nav>ul>li>ul>li>a:hover{font-weight:bold;}
#header_top .inner nav>ul>li>ul>li>a:focus{font-weight:bold;color:#406edb;}
#header_top .inner nav>ul>li>a{display: block;width: 100%;text-align: center;line-height:70px;font-size: 1.6rem;color: #fff;font-weight:bold;}
/*lang*/
#header_top .inner .lang_wrap{float:left;width:70px;height:29px;margin-top:20px;margin-right:41px;position: relative;z-index:99;border:2px solid #fff;border-radius:14.5px;overflow:hidden;transition:height 0.3s;}
#header_top .inner .lang_wrap .lang{width:100%;}
#header_top .inner .lang_wrap .lang li{width:100%;height:30px;}
#header_top .inner .lang_wrap .lang li>a{display:block;width:100%;height:100%; line-height:25px;text-align:center;font-size:1.5rem;color:#fff;text-align:center;}
#header_top .inner .lang_wrap.open{height:90px;}
/*more_menu*/
.more_menu{float: left;width: 19px;height: 17px;margin-top:25.5px;margin-right:41px;}
.more_menu>a{display: block;width: 100%;height:100%;background:url(../images/btn_all_menu_main.png)no-repeat center;background-size:cover;}
/*serch*/
.serch_con{float:left;width:21px;height:21px;margin-top:24.5px;}
.serch_con>a{display: block;width:100%;height:100%;background:url(../images/btn_search.png)no-repeat center;background-size:cover;}
/*location*/
#location{width:100%;height:50px;background:rgba(0,0,0,0.6);position:relative;z-index:80;}
#location.fixed{position:fixed;top:0;background:#1b2e59;z-index:80;}
.location_inner{width:1245px;height:100%; margin:0 auto;}
.location_inner>ul{float:left;width:100%;height:100%;}
.location_inner>ul>li{float:left;height:100%;position:relative;}
.location_inner>ul>li>ul{position:absolute;top:51px;width:100%;overflow:hidden;}
.location_inner>ul>li>ul>li{width:100%;height:0px;overflow:hidden;transition:all 0.3s;}
.location_inner>ul>li>ul>li.on{height:40px;}
.location_inner>ul>li>ul>li>a{display:block;width:100%;height:100%;background:rgba(0,0,0,0.6);text-align:center;line-height:40px;font-size:1.2rem;color:#eee;font-weight:500;position:relative;}
.location_inner>ul>li>ul>li>a:after{content:'>';position:absolute;top:0;right:20px;font-size:1.4rem;color:#eee;display:none;}
.location_inner>ul>li>ul>li>a:hover:after{display:block;}
#location.fixed .location_inner>ul>li>ul>li>a{background:#1b2e59;}
.location_inner>ul>li>a{display:block;width:100%;height:100%;}
.location_inner>ul>li:first-child{width:50px;height:50px;border-left:1px solid #000;border-right:1px solid #000;}
.location_inner>ul>li:first-child>a{display:block;background:url(../images/sitemap/bg_nav_home.png)no-repeat center;background-size:22px;}
.location_inner>ul>li~li{width:170px;height:100%;border-right:1px solid #000;}
.location_inner>ul>li~li > a{padding-left:20px; color:#fff; line-height:50px;font-size:1.4rem; background:url(../images/sitemap/bg_nav_arrow1.png)no-repeat;background-size: 7px;background-position:140px center;}
/*header_sitemap*/
body#sub #header_top{background:#f0f0f0;}/*자식이 부모를 올라옴*/
body#sub #header_top .bg_box{background:#fff;}
body#sub #header_top .inner .logo>a{background: url(../images/sitemap/header_logo_sub.png)no-repeat center;}
body#sub #header_top .inner nav>ul>li>a{color:#000;}
body#sub #header_top .inner nav>ul>li>ul>li>a{color:#000;}
body#sub #header_top .inner .lang_wrap{background:#fff;border-color:#2c53af;}
body#sub #header_top .inner .lang_wrap .lang>li>a{color:#2c53af;}
body#sub .more_menu>a{display: block;width: 100%;height:100%;background:url(../images/company_overview/btn_all_menu.png)no-repeat center;background-size:cover;}
body#sub .serch_con>a{display: block;width:100%;height:100%;background:url(../images/company_overview/btn_search_sub.png)no-repeat center;background-size:cover;}
body#sub .wrapper{padding-top:70px;}
/*footer*/
footer{width:100%;float:left;background:#323b4a;font-family:'Noto Sans KR';}
footer .center_box{width:833px;margin:0 auto;padding:35px 0;border-bottom:1px solid rgba(162, 169, 179,0.2); box-sizing:border-box;}
footer .center_box>p{float:left;font-size:1.2rem;line-height:37px;}
footer .center_box>p>b{color:#fff;font-weight:bold;}
footer .center_box>p>span{color:#a2a9b3;}
footer .center_box>p>span:before{content:"";display:inline-block;width:3px;height:3px;border-radius:50%;background:#fff;margin-bottom:3px;margin-left:10px;margin-right:10px;}
footer .center_box>.affi{float:right;position:relative;width:167px;height:37px;background:#222936;}
footer .center_box>.affi>a{display:block;width:100%;height:100%;padding-left:20px; line-height:37px;font-size:1.2rem;color:#fff;}
footer .center_box>.affi>a>span:after{content:'+';display:block;float:right;width:36px;height:37px;border-left:1px solid #7e8998; text-align:center;line-height:37px;}
footer .center_box>.affi .menu{display:none; position:absolute;bottom:37px;left:0;width:100%;padding:15px; background:#f8f8f8;border:1px solid #d9d9d9;}
footer .center_box>.affi .menu.active{display:block;}
footer .center_box>.affi .menu ul{width:100%;padding:10px 0; border-bottom:1px solid #d9d9d9;}
footer .center_box>.affi .menu ul:last-child{border-bottom:none;padding-bottom:0;}
footer .center_box>.affi .menu ul li{width:100%;line-height:20px;}
footer .center_box>.affi .menu ul li h4{font-size:1.3rem;font-weight:normal;}
footer .center_box>.affi .menu ul li>a{display:block;padding-left:10px; color:#000;font-size:1.3rem;}
footer .center_box>.affi .menu ul li>a:hover{font-weight:600;}
/*copyright*/
footer .copyright_wrap{width:100%;padding-top:30px;padding-bottom:40px;text-align:center;}
footer .copyright_wrap address{font-size:1.2rem;margin-bottom:10px;color:#a2a9b3;}
footer .copyright_wrap address span{margin:0 10px;}
footer .copyright_wrap p{font-size:1.2rem;color:#a2a9b3;}