@charset "utf-8";
/*common*/
html,body{font-family:'bareundotum1','bareundotum2','Malgun Gothic','Noto Sans KR',serif;font-size: 0.625rem;line-height: 1;overflow-x: hidden;}
h2{font-weight:normal;}
.wrapper{width: 100%;position:relative;}
/*top*/
.top_wrap{position:fixed;bottom:100px;right:30px; width:50px;height:50px;z-index:99;}
.top_wrap a{display:block;width:100%;height:100%;background:url(../images/top_btn.png)no-repeat center;background-size:cover;}
#main_con{display:block;}
/*daelim_about*/
#daelim_about{width:1245px;height:843px;margin:0 auto;position:relative;margin-bottom:100px;}
.slider_con{width:2240px;height:843px; position:absolute;top:0;left:50%;transform: translateX(-50%);overflow:hidden;}
.slider_con .slider{width:100%;height:843px;position: absolute;top:0;left:0;}
.slider_con .slider>li{position:absolute;top:0;left:0; width: 100%;height: 843px;transform:translateX(200px);opacity:0;transition:all 1.5s;}
.slider_con .slider>li.on{transform:translateX(-400px);transition:all 1.5s;opacity:0;}
.slider_con .slider>li.show{transform:translateX(0);transition:all 2s;opacity:1;}
/*daelim_about*/
#daelim_about .text_wrap{position:absolute;top:421.5px;left:0;width:100%;text-align:center;}
#daelim_about .text_wrap img{margin-bottom:50px;}
#daelim_about .text_wrap .view_wrap{width:100%;margin-bottom:110px;}
#daelim_about .text_wrap .view{display:inline-block;width:150px;height:50px;border:2px solid #fff;line-height:50px;font-size:1.9rem;color:#fff;font-weight:bold;}
#daelim_about .text_wrap .control_wrap{width:100%;margin:0 auto;}
#daelim_about .text_wrap .indi_wrap{display:inline-block;height:5px;}
#daelim_about .text_wrap .indi_wrap li{display:inline-block;width:80px;height:5px;background:#ccc;}
#daelim_about .text_wrap .indi_wrap li.act{display:inline-block;width:80px;height:5px;background:#f4f4f4;}
#daelim_about .text_wrap .indi_wrap li>a{display: block;width:100%;height:100%;}
#daelim_about .text_wrap  li a{display:block;width:100%;height:100%;}
#daelim_about .text_wrap .btn_wrap{display:inline-block;margin-left:30px;}
#daelim_about .text_wrap .btn_wrap li{display:inline-block;width:12px;height:12px;vertical-align:middle;}
#daelim_about .text_wrap .btn_wrap li>a.stop{background:url(../images/visual_play.png)no-repeat center;background-size: cover}
#daelim_about .text_wrap .btn_wrap li >a.play{background:url(../images/visual_pause.png)no-repeat center;background-size:cover;}
/*business_area*/
#business_area{width:1245px;margin:0 auto;}
#business_area h2{margin-bottom:80px; text-align: center;font-size:4.6rem;}
#business_area p{text-align:center;font-size:1.6rem;}
/*mask_wrap*/
.mask_wrap{position:absolute;top:0;left:50%;transform:translateX(-50%);width:1905px;height:300px;z-index:60;}
.mask_wrap>ul{position:absolute;top:0;left:0;width:100%;height:100%;}
.mask_wrap>ul>li:nth-child(1){position:absolute;top:-220px;right:218px;width:683px;height:508px;animation-name:sians;animation-duration:1s;animation-fill-mode: forwards;animation-delay:0.5s;}
.mask_wrap>ul>li:nth-child(2){position:absolute;top:-220px;right:218px;width:683px;height:508px;animation-name:ship;animation-duration:1s;animation-fill-mode:forwards;animation-delay:0.5s;}
.mask_wrap>ul>li:nth-child(3){position:absolute;top:-220px;right:218px;width:683px;height:508px;animation-name:buld;animation-duration:1s;animation-fill-mode:forwards;animation-delay:0.5s;}
.mask_wrap>ul>li:nth-child(4){position:absolute;top:-220px;right:218px;width:683px;height:508px;animation-name:it;animation-duration:1s;animation-fill-mode:forwards;animation-delay:0.5s;}
.mask_wrap>ul>li:nth-child(5){position:absolute;top:-220px;right:218px;width:683px;height:508px;animation-name:develop;animation-duration:1s;animation-fill-mode:forwards;animation-delay:0.5s;}
/*businese_slider*/
#sub_slider{position:relative;float:left;width:100%;padding-top:300px;margin-top:100px;}
#sub_slider .slider_con{position:absolute;width:1905px;height:249px;background:#fff;z-index:50;}
#sub_slider .slider_con img{width:100%;height:100%;position:relative;z-index:50;}
#sub_slider .slider_con ul{position:absolute;top:0;left:0; width:100%;height:100%;}
#sub_slider .slider_con ul li{position:absolute;top:0;left:0;width:1905px;height:249px;}
#sub_slider .slider_con ul li:nth-child(1){background:url(../images/New_businese_img01.png)no-repeat 0px center;background-size:cover;}
#sub_slider .slider_con ul li:nth-child(2){background:url(../images/New_businese_img02.png)no-repeat 0px center;background-size:cover;}
#sub_slider .slider_con ul li:nth-child(3){background:url(../images/New_businese_img03.png)no-repeat 0px center;background-size:cover;}
#sub_slider .slider_con ul li:nth-child(4){background:url(../images/businese_img04.png)no-repeat 0px center;background-size:cover;}
#sub_slider .slider_con ul li:nth-child(5){background:url(../images/New_businese_img05.png)no-repeat 0px center;background-size:cover;}
#buslnese_explan ul li{display:block;opacity:0;}
#sub_slider .mask_wrap li{display:block;opacity:0;}
.slider_con ul li{display:block;opacity:0;}
/*bsiness_list*/
.bsiness_list{width:1140px;height:60px;margin:0 auto 50px;font-family:'Noto Sans KR';}
.bsiness_list ul{float:left;width:100%;height:100%;}
.bsiness_list ul>li{float:left;width:212px;height:100%;margin-left:20px;border:1px solid #ccc;}
.bsiness_list ul>li:first-child{margin-left:0;}
.bsiness_list ul>li.on >a{background:#434f78;color:#fff;}
.bsiness_list ul>li>a{display:block;width:100%;height:100%;text-align:center;line-height:59px;font-size:1.8rem;font-weight:bold;}
/*buslnese_explan*/
#buslnese_explan{width:100%;height:48px;text-align:center;margin-bottom:50px;font-family:'Noto Sans KR';}
#buslnese_explan ul{position:relative;width:100%;height:100%;}
#buslnese_explan ul li{position:absolute;top:0;left:0;width:100%;height:100%;font-size:1.5rem;line-height:20px;}
.view_wrap{width:100%;text-align:center;font-family:'Noto Sans KR';}
.view_wrap a{display:inline-block;width:150px;height:50px;border:2px solid #000;line-height:50px;font-size:1.9rem;font-weight:bold;font-weight:bold;}
/*company_wrap*/
#company_wrap{float:left;width:100%;padding-top:100px;}
#company_wrap .inner{width:1245px; margin:0 auto;}
#company_wrap .inner h2{text-align:center;font-size:4.6rem;margin-bottom:50px;}
#company_wrap .inner>p{text-align:center;font-size:1.6rem;margin-bottom:80px;}
/*company_year*/
#company_wrap .company_wrap{width:100%;min-width:1245px;float:left; background:#fff;font-family:'Noto Sans KR';}
#company_wrap .company_wrap .company_year{float:left;width:35%;}
#company_wrap .company_wrap .company_year ul{float:right;width:100%;}
#company_wrap .company_wrap .company_year ul li{padding:35px 30px 30px 0;border-bottom:1px solid rgba(204, 204, 204,0.6);}
#company_wrap .company_wrap .company_year ul li:nth-child(1){height:272px;background:#2c53af url(../images/aboutc_bg.png)no-repeat 50% 50%;background-size:cover;text-align:right;}
#company_wrap .company_wrap .company_year ul li:nth-child(1) > strong{display:block;font-size:7rem;color:#fff;margin-bottom:40px;font-weight:normal;}
#company_wrap .company_wrap .company_year ul li:nth-child(1) > h3{font-size:2.2rem;color:#fff;margin-bottom:20px;font-weight:normal;}
#company_wrap .company_wrap .company_year ul li:nth-child(1) > p{font-size:1.4rem;color:#fff;line-height:20px;}
#company_wrap .company_wrap .company_year ul li~li{height:163px;background:#2c53af;text-align:right;}
#company_wrap .company_wrap .company_year ul li~li h3{margin-bottom:20px;font-size:2.2rem;color:#fff;font-weight:lighter;}
#company_wrap .company_wrap .company_year ul li~li p{font-size:1.4rem;color:#fff;line-height:20px;font-weight:normal;}
/*companu_list*/
#company_wrap .company_wrap .companu_list{float:left;width:65%;padding:82px 60px; background:#f5f5f5;}
#company_wrap .company_wrap .companu_list h3{font-size:2.2rem;margin-bottom:30px;}
#company_wrap .company_wrap .companu_list h3>span{color:#666;font-weight:normal;}
#company_wrap .company_wrap .companu_list h3>span:before{content:'';display:inline-block;width:1px;height:10px; margin:3px 10px;background:#000;}
#company_wrap .company_wrap .companu_list .privacy_wrap{width:867px;margin-bottom:40px;}
#company_wrap .company_wrap .companu_list .privacy_wrap li{float: left; background:#fff;width:414px;height:240px;margin-right:39px;}
#company_wrap .company_wrap .companu_list .privacy_wrap li:last-child{margin-right:0;}
#company_wrap .company_wrap .companu_list .privacy_wrap li .text_wrap{width:100%;height:200px;padding:35px 25px 25px 25px;border:1px solid #ccc;border-bottom:none;}
#company_wrap .company_wrap .companu_list .privacy_wrap li .text_wrap a{display:block;width:100%;height:100%;}
#company_wrap .company_wrap .companu_list .privacy_wrap li .text_wrap h4{margin-bottom:25px; font-size:1.8rem;letter-spacing:-0.5px;word-spacing:-0.5px;color:#333;font-weight:normal;}
#company_wrap .company_wrap .companu_list .privacy_wrap li .text_wrap p{font-size:1.4rem;line-height:22px;color:#666;letter-spacing:-0.7px;}
#company_wrap .company_wrap .companu_list .privacy_wrap li .pluse_btn{width:100%;height:40px;padding:10px 25px;border:1px solid #ccc;border-top:1px dotted #ccc;background:#fff;}
#company_wrap .company_wrap .companu_list .privacy_wrap li .pluse_btn time{display:block;width:100%;height:100%;background: url(../images/click-plus1.png)no-repeat;background-position:346px center; background-size:17px;}
#company_wrap .company_wrap .companu_list .privacy_wrap li time>a{display: block;width:100%;height:100%;font-size:1.4rem;line-height:1em;}
/*info_wrap*/
.info_wrap{width:867px;}
.info_wrap ul{float:left;width:100%;}
.info_wrap ul li{float:left;width:260px;height:100px;margin-left:43px;}
.info_wrap ul li:first-child{margin-left:0;}
.info_wrap ul li:nth-child(1){background:url(../images/menu_icon1.png)no-repeat left;background-size:67px;}
.info_wrap ul li:nth-child(2){background:url(../images/menu_icon2.png)no-repeat left;background-size:67px;}
.info_wrap ul li:nth-child(3){background:url(../images/menu_icon3.png)no-repeat left;background-size:67px;}
.info_wrap ul li>a{display: block;width:100%;height:100%;padding-left:80px;}
.info_wrap ul li>a h4{font-size:2rem;margin-top:16.5px;font-weight:normal;margin-bottom:5px;}
.info_wrap ul li>a p{font-size:1.4rem;line-height:20px;letter-spacing:-0.5px;word-spacing:-0.5px;font-weight:lighter;}
/*second_menu*/
#second_menu{width:100%;height:399px;float:left;padding:40px 0 45px; background:#353535;font-family:'Noto Sans KR';}
#second_menu .inner{width:1100px;height:100%; margin:0 auto;}
#second_menu .inner ul{float:left;width:100%;height:100%;}
#second_menu .inner ul>li{float:left;width:140px;height:45px;margin-right:52px;}
#second_menu .inner ul>li:last-child{margin-right:0;}
#second_menu .inner ul>li>a{display:block;width:100%;font-size:1.8rem;color:#fff;font-weight:normal;}
#second_menu .inner ul>li>ul{width:100%;}
#second_menu .inner ul>li>ul:before{content:'';display:block;margin:20px 0; width:15px;height:2.5px;background:#fff;}
#second_menu .inner ul>li>ul>li{height:25px;}
#second_menu .inner ul>li li a{position:relative;font-size:1.3rem;color:#a2a9b3;}
#second_menu .inner ul>li li a:before{content:'-';position:absolute;left:-20px;font-size:1.3rem;color:#fff;display:none;}
#second_menu .inner ul>li li a:hover{color:#d1d1d1;}
#second_menu .inner ul>li li a:hover:before{display:block;}
@keyframes sians {
  0%{opacity:0;transform:translateY(-350px)}
  100%{opacity:1;transform:translateY(0)translateX(0);}
}
@keyframes ship {
  0%{opacity:0;transform:translateY(-500px)translateX(500px);}
  100%{opacity:1;transform:translate(0);}
}
@keyframes buld{
  0%{opacity:0;transform:scale(0);}
  100%{opacity:1;transform:scale(1);}
}
@keyframes it{
  0%{opacity:0;transform:scale(2);}
  100%{opacity:1;transform:scale(1);}
}
@keyframes develop{
  0%{opacity:0;transform:translateY(200px);}
  100%{opacity:1;transform:translateY(0);}
}