@charset "utf-8";
$color_1 : #1E9CEF;
$color_2 : #2D2427;
body{font-family: 'Noto Sans KR', sans-serif;}

.header_top{
    padding:100px 0;
    background:linear-gradient(to right,$color_1,#750CF2);
    text-align: center;
    h1.log{
        text-align:center;
        font-size:21px;
        color:$color_2;

    }
    img{
        display: block;
        width: 400px;
        margin: 0 auto;
    }
}

#main{
    .wrap{
        padding-top:80px;
        position:relative;
        z-index:2;
    }
}

.header_top.main{
    background:none;
    position:absolute;
    top:0;left:0;
    padding:0;
    width:100%;
    height:80px;
    h1.log{
        position:absolute;top:50%;left:20px;
        transform:translateY(-50%);
        color:#fff;
    }
    .lnb{
        display:flex;
        height:100%;
        justify-content:flex-end;
        .lnb_item{
            height:100%;
            flex-basis:230px;
            a{
                border-bottom:1px solid #fff;
                color:#ffff;
                line-height:80px;
            }
        }
    }
}

.login_seciton{
    .inner{
    max-width:700px;
    margin:0 auto;
    padding:50px 0;;
        label,input{
            display:block;
            color:$color_2;
            text-align:center;
        }
        label{
            padding:30px 0;
        }
        input{
            width:100%;
            height:50px;
            line-height:50px;
            border:none;
            border:1px solid #bebebe;
        }
        .btn_wrap{
            padding:30px 0;
            button{
                float:left;
                width:calc((100% /2) - 30px);
                height:50px;
                text-align:center;
                line-height:50px;
                font-size:20px;
                background:$color_1;
                color:#fff;
                font-weight:bold;
                margin-right:60px;
                border-radius:10px;
            }
            button:last-child{
                margin-right:0;
            }
        }
    }
}

.footer{
    padding:50px 0;
    background:#d8d8d8;
    .inner{
        max-width:1200px; margin:0 auto;text-align:center;
    }
}

#main{
    .inner{
        max-width:1600px;margin:0 auto;
        padding:50px 0;
        h2.sect_title{
            padding:20px 0;
            text-align:center;
            font-size:1.250vw;
            color:#fff;
        }
        .lnb{
            height:100%;
            .lnb_list{
                display:flex;
                justify-content:space-around;
                .lnb_item{
                    flex-grow:1;
                    flex-basis:100px;
                    height:300px;
                    a{
                        display:block;
                        text-align:center;line-height:300px;
                        color:#fff;
                    }
                }
            }
        }
        .content_list{
            display:flex;
            flex-wrap:wrap;
            .con{
                flex-grow:1;
                width:200px;height:10.417vw;
                background:#ccc;
                position:relative;
                
                &:not(.big):after{
                    content:'';position:absolute;
                    top:0;left:0;
                    width:0%;height:1px;
                    background:#000;
                    transition:all 0.6s;
                }
                &:not(.big):before{
                    content:'';position:absolute;
                    bottom:0;right:0;
                    width:0%;height:1px;
                    background:#000;
                    transition:all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                }
                &:not(.big):hover:after,
                &:not(.big):hover:before{
                   width:100%; 
                }
                a{
                    display:block;
                    width:100%;height:100%;
                    text-align:center;text-transform:capitalize;
                }
                &:not(.big){
                    background:#fdfdfd;
                }
                &.big{
                    width:20%;height:20.833vw;
                    background:#fafafa;
                    box-shadow:-16px -12px 30px #6d6565;
                    a{
                        line-height:20.833vw;
                    }
                }
                &.medium{
                    position:relative;
                    width:50%;
                    height:20.833vw;
                    .slide_wrap{
                        position:absolute;top:0;left:0;
                        width:100%;height:100%;
                        .slide{
                            position:absolute;top:0;left:0;
                            width:100%;height:100%;
                            .slide_item{
                                position:absolute;top:0;left:0;
                                width:100%;height:100%;
                                img{
                                    width:100%;
                                }
                            }
                        }
                    }
                    
                }
                &.small{
                    width:50%;
                    background:#ffffff;
                    a{
                        line-height:10.417vw;
                    }
                }
            }
        }
    }
}
#live{
    background:#ccc url('/img/doc_bg_1.jpg')no-repeat center center;
    background-size:cover;
    .inner{
        max-width:1280px;margin:0 auto;
        padding: 50px 0;
        display:flex;
        flex-direction: column;
        .video_wrap{
            width:1280px;
            background:#ccc;
            height:720px;
            #video_player{
                width:100%;height:100%;
            }
        }
        .btn_wrap{
            margin-top:50px;
            .btn{
                display:inline-block;width:150px;height:50px;
                background:$color_1;color:#fff;font-size:20px;
                font-weight:700;
            }
        }
    }
}