@charset "utf-8";
/*common*/
.wrapper{position:relative;width:100%;height:auto;left:0;}
.inner{width:960px;margin:0 auto;}
.con .inner{transform:scale(0);animation-name:trans;animation-duration:0.3s;animation-fill-mode:forwards;animation-timing-function:ease-out;}
/*header m_gnb*/
.m_gnb nav{margin-left:50px;}
.m_gnb nav>ul{width:80%;}
.m_gnb nav>ul>li{float:left;width:calc(80% / 7); height:100%;}
.m_gnb nav>ul>li:first-child{margin-left:0px;}
.m_gnb .sub_menu{width:100%;padding:30px 0;}
.m_gnb .sub_menu>li{float:left;margin-right:10px;width:217px;}
.m_gnb .sub_menu>li>a{display:block;width:100%;line-height:50px;background:#fff;text-align:center;font-size:1.6rem;color:#5a9eb4;border: 1px solid #5a9eb4;}
.m_gnb .sub_menu>li>ul{width:100%;}
.m_gnb .sub_menu>li>ul>li{padding:10px 0;padding-left:20px;}
.m_gnb .sub_menu>li>ul>li>a{font-size:1.4rem;color:#666;}
.m_gnb .sub_menu>li>ul>li>a:before{content:'-';font-size:1.4rem;}
.m_gnb .sub_wrap{position:absolute;top:80px;left:0;width:100%;height:auto;z-index:-1;}
.m_gnb .sub_wrap:after{display:none;}
.m_gnb .sub_wrap:before{content:'';position:absolute;top:0;left:-100%;width:300%;height:100%;background:#eef5f5;z-index:-1;box-shadow: 0 6px 8px -5px #333;}
/*slider*/
.slider_wrapper{padding-top:0px;width:100%;height:950px;overflow:hidden;position:relative;}
.slider_con{position:absolute;top:0;left:0; width:100%;height:100%}
.f_children p{font-size:1.4rem;padding-right:140px;}
.f_children h2{font-size:7rem;line-height:1em;font-weight:900;color:#ffffcc;margin:0px 0px 30px;}
.f_children p{font-size:1.6rem;color:#fff;word-break:keep-all;position:relative;z-index:1;}
.f_children .icon{position:absolute;top:70px;right:150px;width:170px;height:120px;background:url(../images/mptit_ico.png)no-repeat 50% 50%;transition:all 0.5s cubic-bezier(0,0,0,1.01);}
.f_children .icon2{position:absolute;top:0px;right:-40px;width:360px;height:350px;background:url(../images/mptit_img.png)no-repeat 50% 50%;transition:all 0.5s cubic-bezier(0,0,0,1.01);}
#slider_wrap{padding-top:200px;width:100%;height:100%;background:url(../images/mportal_bg.jpg);}
#slider_wrap ul{float:left;width:100%;height:auto;}
#slider_wrap .col_1{float:left;width:960px;height:auto;margin-bottom:10px;}
#slider_wrap .col_1 .f_children{float:left;width:392px;height:265px;}
#slider_wrap .f_children h2{font-size:5.6rem;}
#slider_wrap .col_1 .f_children .icon{position:absolute;top:0px;right:-30px;}
#slider_wrap .col_1 .f_children .icon2{top:auto;right:-60px;bottom:-20px; width:250px;height:240px;background-size:cover;}
#slider_wrap .col_1 .box1{float:left;width:274px;height:265px;background:#d9f7ff url(../images/mhappy_bg.png)no-repeat 50% 0 / 100% auto;margin-right:10px;}
#slider_wrap .col_1 .box2{float:left;width:274px;height:265px;margin-left:10px;}
#slider_wrap .col_1 .box1>a{display:block;width:100%;height:100%;text-align:center;padding:30px 20px;}
#slider_wrap .col_1 .box1>a .img{display:inline-block;width:213px;height:45px;background:url(../images/mhappy_tt1.png)no-repeat center;background-size:cover;}
#slider_wrap .col_1 .box1>a img{width:164px;vertical-align:middle;}
#slider_wrap .col_1 .box1>a p{margin-top:15px;font-size:1.3rem;line-height:1.4em;word-break:keep-all;}
#slider_wrap .col_1 .box1>a p>span{color:#1dc9bb;font-weight:500;}
/*col_2*/
#slider_wrap .col_2{float:left;width:372px;height:auto;margin-left:0px;margin-bottom:10px;margin-top:10px;margin-right:10px;margin-bottom:0;}
#slider_wrap .col_2 .box3{float:left;width:100%;height:190px;margin-left:0;margin-bottom:10px;}
#slider_wrap .col_2 .box3>a h2{font-size:2.4rem;}  
#slider_wrap .col_2 .box3>a>em{position:absolute;right:30px;bottom:30px;}
#slider_wrap .col_2 .box3>a:after{content:'';display:block;position:absolute;right:20px;bottom:auto;top:20px; width:80px;height:70px;margin-right:0;}
#slider_wrap .col_2 .box4{float:left;width:100%;height:190px;margin-top:10px;word-break:keep-all;}
#slider_wrap .col_2 .box4 h2{height:30px;}
#slider_wrap .col_2 .box4 p:last-of-type{height:30px;}
/*col_3*/
#slider_wrap .col_3{float:left;width:568px;height:auto;margin-top:10px;;margin-left:10px;}
#slider_wrap .col_3 .box5{float:left;width:568px;height:190px;margin-bottom:10px;margin-right:0;}
#slider_wrap .col_3 .box5>a h2{font-size:2.6rem;}
#slider_wrap .col_3 .box5>a .con p:first-of-type{display:inline-block;margin-right:10px;} 
#slider_wrap .col_3 .box5>a .con p:last-of-type{display:inline-block;} 
#slider_wrap .col_3 .box6{float:left;width:568px;height:190px;margin-top:10px;}
#slider_wrap .col_3 .box6 h2{width:80%; height:30px;overflow: hidden;}
/*--fect_wrap--*/
#fect_wrap{float:left;padding:60px 0;width:100%;height:auto;}
#fect_wrap .col_4{float:left;width:100%;height:auto;margin-bottom:10px;}
#fect_wrap .col_4 .fect_con{float:left;width:411px;height:400px;margin-right:10px;}
#fect_wrap .col_4 .junal_con{float:left;width:529px;height:400px;margin-left:10px;}
#fect_wrap .col_4 .junal_con .text_box1{float:left;width:100%;height:190px;margin-bottom:10px;}
#fect_wrap .col_4 .junal_con .text_box1 .img_con>a{width:120px;height:140px;background-size:120px 140px;}
#fect_wrap .col_4 .junal_con .text_box1 .text h2>a{font-size:2.4rem;height:55px;}
#fect_wrap .col_4 .junal_con .text_box2{float:left;width:100%;height:190px;margin-top:10px;}
#fect_wrap .col_4 .junal_con .text_box2 .img_con>a{width:120px;height:140px;background-size:120px 140px;}
#fect_wrap .col_4 .junal_con .text_box2 .text h2>a{font-size:2.4rem;height:55px;color:#666;}
#fect_wrap .col_4 .junal_con .img_con>a:hover{transform:scale(1.1) translate(-55px,-6px);}
/*juanal_list*/
#fect_wrap .juanal_list{float:left;width:100%;height:293px;margin-top:10px;}
#fect_wrap .juanal_list ul{float:left;width:100%;height:100%;}
#fect_wrap .juanal_list ul li{float:left;width:calc(100% / 6);height:100%;border:1px solid #ccc;border-right:none; background:#fff}
#fect_wrap .juanal_list ul li:last-child{border-right:1px solid #ccc;}
#fect_wrap .juanal_list ul li>a img{width:70px;height:98px;}  
#fect_wrap .juanal_list ul li:nth-child(1) img{width:81px;height:100px;}
#fect_wrap .juanal_list ul li:nth-child(5) img{width:109px;height:100px;}
#fect_wrap .juanal_list ul li>a{padding:140px 20px 30px;}
/*//---fect_wrap---*/
#info_wrap{float:left;width:100%;height:auto;padding:80px 0;}
#info_wrap .tab_wrap{float:left;width:100%;height:auto;margin-bottom:10px;}
#info_wrap .tab_con{float:left;width:470px;height:344px;position:relative;margin-right:10px;}
#info_wrap .tab_con .btn_wrap{float:left;width:100%;height:60px;}
#info_wrap .tab_con .btn_wrap li{float:left;width:82px;height:100%;border-right:1px solid #eff1f3;}
#info_wrap .tab_con .btn_wrap li:last-child{width:60px;height:100%;border:none;}
#info_wrap .tab_con .btn_wrap li:last-child{width:60px;height:100%;border:none;}
#info_wrap .tab_con .tab{position:absolute;top:60px;left:0;width:100%;height:calc(100% - 60px);}
#info_wrap .tab_con .tab ul li{padding:23px 0 23px 0px;min-height: 70px;}
#info_wrap .tab_con .tab_01 ul li{position:relative;padding:23px 0 23px 75px;}
/*right_con*/
#info_wrap .right_con{float:left;width:470px;height:344px;margin-left:10px;}
#info_wrap .right_con .slider_con{width:100%;height:164px;position:relative;margin-bottom:15px;}
#info_wrap .right_con .small_wrap{float:left;width:100%;height:auto;margin-top:15px;}
#info_wrap .right_con .small_wrap .box1{float:left;width:220px;height:150px;margin-right:15px;}
#info_wrap .right_con .small_wrap .box2{float:left;width:220px;height:150px;margin-left:15px;}
/*link_list*/
#info_wrap .link_list{float:left;width:100%;height:140px;margin-top:10px;}
/*left_area*/
#info_wrap .link_list .left_area{float:left;width:470px;height:100%;}
#info_wrap .link_list .left_area li{float:left;width:220px;height:100%;}
#info_wrap .link_list .left_area li:nth-child(1){margin-right:15px;}
#info_wrap .link_list .left_area li:nth-child(2){margin-left:15px;}
/*right_area*/
#info_wrap .link_list .right_area{float:right;width:470px;height:100%;}
#info_wrap .link_list .right_area li{float:left;width:220px;height:100%;}
#info_wrap .link_list .right_area li:nth-child(1){margin-right:15px;}
#info_wrap .link_list .right_area li:nth-child(2){margin-left:15px;}
#info_wrap .link_list  li .text_con .text h4{position:absolute;top:50%;left:50%;width:100%;transform:translate(-50%,-50%);font-size:1.6rem;color:#fff;}
#info_wrap .link_list  li .text_con .btn{font-size:1.5rem;}
/*con_slider*/
.slider{position:absolute;top:0;left:0;width:100%;height:164px;}
.slider li{position:absolute;top:0;left:0;width:100%;height:164px;}
.slider li>a{display:block;width:100%;height:100%;}
.slider li>a>img{display:block;width:100%;height:100%;}
/*indi_con*/
.indi_con{position:absolute;bottom:0;right:0;width:160px;height:50px;text-align:right;}
.indi_con a{display:inline-block;width:50px;height:50px;background:rgba(0, 0, 0,0.3);color:#fff;}	
/*footer*/
footer .address_wrap span{display:block;}
footer .info_wrap span:nth-child(4):after{content:'';display:block;}
@keyframes show_text{
    0%{right:-500px;opacity:0;}
    50%{opacity:0.5;}
    100%{right:-40px;opacity:1;}
    }
    @keyframes show_text2{
    0%{right:-500px;opacity:0;}
    50%{opacity:0.5;}
    100%{right:50px;opacity:1;}
    }
    @keyframes trans {
    0%{width:1200px;}
    100%{width:960px;transform:scale(1);}
    }