@charset "utf-8";
/*common*/
.wrapper{position:relative;width:100%;height:auto;}
.inner{width:100%;padding:0 20px;}
.con .inner{transform:scale(0);animation-name:transform;animation-duration:0.3s;animation-fill-mode:forwards;}
/*header_Evnet*/
.m_gnb.fix{background:rgba(0,0,0,0.35);}
.m_gnb.fix nav>ul>li>a{color:#fff;}
.m_gnb.fix .more_menu > a{color:#fff;}
.m_gnb.fix .logo>a{display:block;width:100%;height:100%; background:url(../images/logo_w.png )no-repeat center center;background-size:cover;}
/*slider*/
.slider_wrapper{width:100%;height:1270px;overflow:hidden;position:relative;}
.slider_con{position:absolute;top:0;left:0;width:100%;height:100%;} 	
.portal_wrap{position:absolute;top:60px;transform:translateY(0);right:0;width:100%;height:40px;z-index:80;}
.portal_wrap > div{float:left;width:50%;height:40px;margin:0px 0px;background:rgba(255,255,255,0.5);}
.portal_wrap > div:first-of-type{margin-right:0px;}
.portal_wrap > div>a>p{width:100%;font-size:1.2rem;}
.portal_wrap > div span{font-size:1.2rem;}
.portal_wrap > div.active{background:#fff;}
.portal_wrap > div.active p{color:#527087;}
#pr_wrap .pr_wrap>img{position:absolute;top:0;left:50%;transform:translateX(-50%);display:block;width:2600px;height:1270px;}
#slider_wrap{padding-top:120px;width:100%;height:100%;background:url(../images/mportal_bg.jpg);}
#slider_wrap ul{float:left;width:100%;height:auto;}
#slider_wrap .col_1{float:left;width:100%;height:auto;margin-bottom:5px;}
#slider_wrap .col_1 .f_children{float:left;width:100%;height:172px;margin-bottom:15px;}
#slider_wrap .f_children h2{font-size:4rem;}
.f_children p{font-size:1.4rem;line-height:1.2em;}	
.f_children .icon{width:85px;height:60px;background-size:auto 100%;right:35px;top:20px;}
#slider_wrap .col_1 .f_children .icon2{top:auto;right:-30px; width:170px;height:160px;}
#slider_wrap .col_1 .box1{float:left;width:100%;height:206px;margin-right:0px;margin-bottom:5px;}
#slider_wrap .col_1 .box1>a{padding:20px;}
#slider_wrap .col_1 .box1>a{background-position:50% 5%;}
#slider_wrap .col_1 .box1>a .img{display:block;margin: 0 auto;} 
#slider_wrap .col_1 .box2{float:left;width:100%;height:137px;margin-left:0px;margin-top:5px;border-width:4px;}
#slider_wrap .col_1 .box2 h2>a{font-size:1.8rem;}
#slider_wrap .col_1 .box2:after{display:none;}
#slider_wrap .col_1 .box2 h2{margin:15px 0 10px;height:20px}
/*col_2*/
#slider_wrap .col_2{float:left;width:100%;height:auto;margin-bottom:5px;margin-top:5px;}
#slider_wrap .col_2 .box3>a{padding:20px;}
#slider_wrap .col_2 .box3{position:relative;float:left;width:100%;height:146px;margin-right:0px;margin-bottom:5px;}
#slider_wrap .col_2 .box3>a p>span{display:none;}
#slider_wrap .col_2 .box3>a p>em{margin:0 2px;}
#slider_wrap .col_2 .box3>a p{font-size:1.5rem;margin:5px 0 5px;}
#slider_wrap .col_2 .box3>a h2{font-size:2.2rem;}
#slider_wrap .col_2 .box3>a>em{position:relative;right:auto;bottom:auto;padding:10px 20px;}
#slider_wrap .col_2 .box3>a:after{top:50%;margin-top:-35px;}
#slider_wrap .col_2 .box3>a:after{width:80px;height:70px;}
#slider_wrap .col_2 .box4{float:left;width:100%;height:143px;margin-left:0px;margin-top:5px;padding:20px;}
#slider_wrap .col_2 .box4 h2>a{font-size:1.8rem;}
#slider_wrap .col_2 .box4 h2{margin: 10px 0;height:23px;}
#slider_wrap .col_2 .box4 p:last-of-type{font-size:1.3rem;height:50px;}
#slider_wrap .col_2 .box4 .view{display:none;}
/*col_3*/
#slider_wrap .col_3{float:left;width:100%;height:auto;margin-top:5px;margin-left:0;}
#slider_wrap .col_3 .box5{float:left;width:100%;height:138px;margin-right:0px;margin-bottom:5px;}
#slider_wrap .col_3 .box5>a{padding:20px;}
#slider_wrap .col_3 .box5>a .con{padding:10px 30px;}
#slider_wrap .col_3 .box5>a h2{margin:10px 0;font-size:2rem;}
#slider_wrap .col_3 .box5>a .con p:first-of-type{font-size:1.4rem;}
#slider_wrap .col_3 .box5>a .con p:last-of-type{font-size:1.4rem;}
#slider_wrap .col_3 .box6{float:left;width:100%;height:140px;margin-left:0px;margin-top:5px;}
#slider_wrap .col_3 .box6:after{display:none;}
#slider_wrap .col_3 .box6{padding:30px 15px 30px 15px;}
#slider_wrap .col_3 .box6 h2{margin:10px 0;width:100%;}
#slider_wrap .col_3 .box6 h2>a{font-size:1.8rem;height:20px;width:100%;}
/*fect_wrap*/
#fect_wrap{float:left;padding:20px 0;width:100%;height:auto;}
#fect_wrap .col_4{float:left;width:100%;height:auto;margin-bottom:5px;}
#fect_wrap .col_4 .fect_con{float:left;width:100%;height:300px;margin-right:0px;margin-bottom:5px;}
#fect_wrap .col_4 .fect_con .text h2{font-size:2.8rem;}
#fect_wrap .col_4 .fect_con .text span{font-size:1.2rem;}
#fect_wrap .col_4 .junal_con{float:left;width:100%;height:auto;margin-left:0px;margin-top:5px;}
#fect_wrap .col_4 .junal_con .text_box1{float:left;width:100%;height:157px;margin-bottom:5px;}
#fect_wrap .col_4 .junal_con .text_box1 .img_con{display:none;}
#fect_wrap .col_4 .junal_con .text_box1 .text{padding:20px;}
#fect_wrap .col_4 .junal_con .text_box2{float:left;width:100%;height:157px;margin-top:5px;}
#fect_wrap .col_4 .junal_con .text_box2 .img_con{display:none;}
#fect_wrap .col_4 .junal_con .text_box2 .text{padding:20px;}
#fect_wrap .col_4 .fect_con .more_wrap{position:absolute;bottom:0;right:0;width:100%;height:40px;z-index:1;}
#fect_wrap .col_4 .fect_con .more_wrap .more_btn{float:right;width:40px;height:40px;}
#fect_wrap .col_4 .fect_con .more_btn>a span{top:20px;left:10px;width:20px;}
#fect_wrap .col_4 .fect_con .more_btn>a:hover >span:first-of-type{width:20px;top:15px;left:10px; transform:rotate(45deg);}
#fect_wrap .col_4 .fect_con .more_btn>a:hover >span:last-of-type{width:20px;top:28px;left:10px; transform:rotate(-45deg);}
/*juanal_list*/
#fect_wrap .juanal_list{float:left;width:100%;height:auto;background:gray;margin-top:10px;border:1px solid #ccc;}
#fect_wrap .juanal_list ul{float:left;width:100%;height:100%;}
#fect_wrap .juanal_list ul li{float:left;width:calc(100% / 2);height:206px;}
#fect_wrap .juanal_list ul li>a h3{font-size:1.4rem;font-weight:300;height:20px;}
#fect_wrap .juanal_list ul li>a em{display:none;}
#fect_wrap .juanal_list ul li:last-child{border-right:none;}
#fect_wrap .juanal_list ul li:nth-child(3){border-right:none;border-left:none;}
#fect_wrap .juanal_list ul li:nth-child(1){border-left:none;border-top:none;}
#fect_wrap .juanal_list ul li:nth-child(2){border-top:none;}
#fect_wrap .juanal_list ul li:nth-child(3){border-right:none;border-left:none;}
#fect_wrap .juanal_list ul li:nth-child(6){border-top:none;}
#fect_wrap .juanal_list ul li:nth-child(5){border-left:none;}
#fect_wrap .juanal_list ul li:nth-child(4)~li{border-bottom:none;}
/*--info_wrap---*/
#info_wrap{float:left;width:100%;height:auto;padding:30px 0;}
#info_wrap .tab_wrap{float:left;width:100%;height:auto;margin-bottom:0;margin-bottom:15px;}
#info_wrap .tab_con{float:left;width:100%;height:293px;position:relative;;margin-right:0;margin-bottom:5px;}
#info_wrap .tab_con .btn_wrap{float:left;width:100%;height:50px;}
#info_wrap .tab_con .btn_wrap li{float:left;width:calc(90% / 5);height:100%;border-right:1px solid #eff1f3;}
#info_wrap .tab_con .btn_wrap li:last-child{width:10%;height:100%;border:none;}
#info_wrap .tab_con .btn_wrap li:last-child>a{display:block;width:100%;height:100%;}
#info_wrap .tab_con .btn_wrap li>a{font-size:1.3rem;line-height:30px;padding-top:11px;}	
#info_wrap .tab_con .tab{position:absolute;top:50px;left:0;width:100%;height:calc(100% - 50px);}
#info_wrap .tab_con .tab_01 ul li{position:relative;padding:15px 0 15px 75px;min-height:78px;border-top:1px dashed #cfd6da;}
#info_wrap .tab_con .tab_01 ul li:nth-child(4){border-top:none;}
#info_wrap .tab_con .tab:not(.tab_01) ul li{position:relative;padding:21px 0 10px 0px;min-height:78px;border-bottom:1px dashed #cfd6da;}
#info_wrap .tab_con .tab ul li h4>a{font-size:1.6rem;height:20px;}
#info_wrap .tab_con .tab ul li:nth-child(1n) em{position:absolute;left:0;top:50%;transform:translateY(-50%);display:block;width:45px;height:45px;font-size:1.3rem;line-height:1.2em;border:1px solid #70979e;color:#70979e;padding:9px 9px;}
#info_wrap .tab_con .tab ul li:nth-child(2n) em{position:absolute;left:0;top:50%;transform:translateY(-50%);display:block;width:45px;height:45px;font-size:1.3rem;line-height:1.2em;border:1px solid #8c817b;color:#8c817b;padding:9px 9px;}
/*right_con*/
#info_wrap .right_con{float:left;width:100%;height:auto;margin-left:0;margin-top:10px;}
#info_wrap .right_con .slider_con{float:left;width:100%;height:200px;position:relative;margin-bottom:5px;margin-right:0px;}
#info_wrap .tab_con .btn_wrap li:last-child>a>span{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);display:block;width:25%;height:2px;background:#fff;}
#info_wrap .tab_con .btn_wrap li:last-child>a>span:first-of-type{transform-origin:center;transform:rotate(90deg);left:37%;}
#info_wrap .tab_con .btn_wrap li:last-child>a:hover span:first-of-type{transform:rotate(45deg);top:20px;left:40%;}
#info_wrap .tab_con .btn_wrap li:last-child>a:hover span:last-of-type{transform:rotate(-45deg);left:0;left:40%; top:68%;}
#info_wrap .right_con .small_wrap{float:left;width:100%;height:auto;margin-top:5px;}
#info_wrap .right_con .small_wrap .box1{float:left;width:100%;height:230px;margin-right:0;margin-left:0px;}
#info_wrap .right_con .small_wrap .box2{float:left;width:220px;height:150px;margin-left:15px;display:none;}
/*link_list*/
#info_wrap .link_list{float:left;width:100%;height:auto;margin-top:15px;}
/*left_area*/
#info_wrap .link_list .left_area{float:left;width:100%;height:auto;margin-bottom:2%;}
#info_wrap .link_list .left_area li{float:left;width:48%;height:150px;}
#info_wrap .link_list .left_area li:nth-child(1){margin-right:2%;margin-bottom:0;}
#info_wrap .link_list .left_area li:nth-child(2){margin-left:2%;margin-top:0px;margin-bottom:0;}
/*right_area*/
#info_wrap .link_list .right_area{float:right;width:100%;height:auto;margin-top:2%;}
#info_wrap .link_list .right_area li{float:left;width:48%;height:122px;}
#info_wrap .link_list .right_area li:nth-child(1){margin-right:2%;margin-bottom:0px;}
#info_wrap .link_list .right_area li:nth-child(2){margin-left:2%;margin-top:0px;}	
#info_wrap .link_list  li .text_con{bottom:0;height:40px;}
#info_wrap .link_list  li .text_con> .btn{font-size:1.3rem;line-height:40px;}
#info_wrap .link_list  li .text_con .text{display:none;}	
#info_wrap .link_list li>a img{position:absolute;top:15px;left:50%;transform:translate(-50%,0);}
/*con_slider*/
.slider{position:absolute;top:0;left:0;width:100%;height:200px;}
.slider li{position:absolute;top:0;left:0;width:100%;height:200px;}
.slider li>a{display:block;width:100%;height:100%;}
.slider li>a>img{display:block;width:100%;height:100%;}
/*indi*/
.indi_con{display:none;}
/*footer*/
footer .info_wrap .text:after{content:'';display:block;clear:both;}
footer .info_wrap span{display:inline-block;}
footer .info_wrap span:nth-child(1n){float:left;width:45%;text-align:center;}
footer .info_wrap span:nth-child(2n){float:right;width:45%;text-align:center;}
footer .inner:last-of-type .address_wrap dd>a:first-of-type{margin-right:0;width:61px;height:40px;position:absolute;right:70px}
footer .inner:last-of-type .address_wrap dd>a:last-of-type{width:40px;height:40px;position:absolute;right:20px;}
footer .address_wrap p{font-size:1rem;}
@keyframes transform {
    0%{width:720px;}
    100%{width:100%;transform:scale(1);}
    }