@charset "utf-8";
#pr_wrap .pr_text span{display:block;}
/*fect_wrap*/
#fect_wrap .col_4 .junal_con .text_box1{float:left;width:100%;height:157px;margin-bottom:5px;}
#fect_wrap .col_4 .junal_con .text_box1 .text{padding:20px;width:100%;}
#fect_wrap .col_4 .junal_con .text_box2{float:left;width:100%;height:157px;margin-top:5px;}
#fect_wrap .col_4 .junal_con .text_box2 .text{padding:20px;width:100%;}
/*info_wrap*/  
#info_wrap .link_list .left_area{float:left;width:100%;height:auto;margin-bottom:0%;}
#info_wrap .link_list .left_area li{float:left;width:100%;height:122px;}
#info_wrap .link_list .left_area li:nth-child(1){margin-right:0%;margin-bottom:5px;}
#info_wrap .link_list .left_area li:nth-child(2){margin-left:0%;margin-top:5px;margin-bottom:5px;}
/*right_area*/
#info_wrap .link_list .right_area{float:right;width:100%;height:auto;margin-top:0%;}
#info_wrap .link_list .right_area li{float:left;width:100%;height:122px;}
#info_wrap .link_list .right_area li:nth-child(1){margin-bottom:5px;margin-top:5px;}
#info_wrap .link_list .right_area li:nth-child(2){margin-left:0px;margin-top:5px;}	
#info_wrap .tab_wrap{float:left;width:100%;height:auto;margin-bottom:0;margin-bottom:15px;}
#info_wrap .tab_con{float:left;width:100%;height:293px;position:relative;;margin-right:0;margin-bottom:5px;}
#info_wrap .tab_con .btn_wrap{float:left;width:100%;height:50px;}
#info_wrap .tab_con .btn_wrap li{float:left;width:calc(90% / 5);height:100%;border-right:1px solid #eff1f3;}
#info_wrap .tab_con .btn_wrap li:last-child{width:10%;height:100%;border:none;}
#info_wrap .tab_con .btn_wrap li>a{font-size:1.3rem;line-height:16px;padding-top:11px;}	
#info_wrap .tab_con .btn_wrap li>a>span{display:block;}	
#info_wrap .tab_con .btn_wrap li:last-child>a>span:first-of-type{top:47%;}
#info_wrap .tab_con .btn_wrap li:last-child>a>span:last-of-type{top:50%;}
#info_wrap .tab_con .btn_wrap li:last-child>a:hover span:first-of-type{transform:rotate(45deg);top:17px;left:40%;}
#info_wrap .tab_con .btn_wrap li:last-child>a:hover span:last-of-type{transform:rotate(-45deg);left:40%; top:51%;}  
#info_wrap .tab_con .tab_01 ul li{position:relative;padding:15px 0 15px 60px;} 
#info_wrap .tab_con .tab{padding:0 20px;}
#info_wrap .right_con .slider_con{float:left;width:100%;height:143px;position:relative;margin-bottom:5px;margin-right:0px;}
#info_wrap .right_con .small_wrap .box1{float:left;width:100%;height:175px;margin-right:0;margin-left:0px;}
/*con_slider*/
.slider{position:absolute;top:0;left:0;width:100%;height:143px;}
.slider li{position:absolute;top:0;left:0;width:100%;height:143px;}
