.scss {
    .center_box {
        width: 90%;

        .test_box {
            width: 300px;
            height: 300px;
            background: hotpink;
            border-radius: 10px;
            text-align: center;
            line-height: 300px;
            position: relative;

            .childe_box {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 150px;
                height: 200px;
                background: rgb(151, 151, 151);
                border-radius: 20px;
            }

            span {
                color: #4b4b4b;
                font-weight: bold;
                font-size: 24px;
            }
        }

        .wrap_list {
            margin-top: 50px;
            width: 500px;

            .test_lsit {
                background: #fff;
                width: 100%;
                height: 50px;

                &:after {
                    content: "";
                    display: block;
                    clear: both;
                }

                .test_item {
                    float: left;
                    width: calc(100% / 6);
                    height: 100%;

                    a {
                        display: block;
                        text-align: center;
                        line-height: 50px;

                        &:hover {
                            color: red;
                        }
                    }
                }
            }

            .wrap_con {
                width: 100%;
                padding-top: 150%;
                border: 1px solid #000;
                box-sizing: border-box;
                position: relative;

                div {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: hotpink;
                    display: none;

                    &:nth-child(1) {
                        display: none;

                        ul {
                            width: 100%;
                            margin-bottom: 20px;
                            background: coral;

                            &:nth-child(1) {
                                display: flex;
                                flex-direction: row-reverse;
                            }

                            &:nth-child(2) {
                                display: flex;
                            }

                            &:nth-child(3) {
                                display: flex;
                                flex-direction: column-reverse;
                            }

                            &:nth-child(4) {
                                display: flex;
                                justify-content: space-between;
                            }

                            &:nth-child(5) {
                                display: flex;
                                justify-content: space-around;
                            }

                            &:nth-child(6) {
                                display: flex;
                                justify-content: space-between;
                                align-items: flex-start;
                            }

                            &:nth-child(7) {
                                display: flex;
                                height: 120px;
                                flex-wrap: wrap;
                                align-content: space-around;
                            }

                            li {
                                display: inline-block;
                                height: 50px;
                                background: yellow;

                                &:nth-child(2) {
                                    background: darkcyan;
                                }
                            }
                        }
                    }

                    &:nth-child(2) {
                        display: block;

                        ul {
                            width: 100%;
                            background: rgb(59, 175, 175);
                            margin-bottom: 20px;

                            &:nth-child(1) {
                                display: flex;

                                li {
                                    flex-basis: 0;
                                    flex-grow: 1;

                                    &:nth-child(2) {
                                        flex-grow: 2;
                                    }
                                }
                            }

                            &:nth-child(2) {
                                display: flex;

                                li {


                                    &:nth-child(1) {
                                        flex: 1;
                                    }

                                    &:nth-child(2) {
                                        flex: 3;
                                    }

                                    &:nth-child(3) {
                                        flex: 1;
                                    }

                                    &:nth-child(4) {
                                        flex: 1;
                                    }
                                }
                            }

                            &:nth-child(3) {
                                display: flex;

                                li {
                                    &:nth-child(1) {
                                        flex: 4;
                                        order: 2;
                                    }

                                    &:nth-child(2) {
                                        flex: 2;
                                        order: 1;
                                    }
                                }
                            }

                            li {
                                width: 100px;
                                height: 100px;
                                background: darkgray;

                                &:nth-child(2n) {
                                    background: darkslateblue;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}