<<<<<<< Updated upstream:.history/test/css/index_20201029150747.css
@charset "utf-8";
body{font-family:"Noto Sans KR", sans-serif;background-color:#f2ec99;line-height:3;overflow-x:hidden;}
p{font-weight:500;}
span{color:#46addd;}
.array_con li{border-bottom:2px solid #4b4b4b;}
.cssnote{position:absolute;top:50px;right:0;width:700px;box-sizing:border-box;border:1px solid #4b4b4b;background:#f8f8f8;z-index:10;padding:30px;}
.tab{height:50px;border-bottom:1px solid #000;box-sizing:border-box;background:#224D73;}
.tab:after{content:'';display:block;clear:both;}
.tab li{float:left;height:100%;list-style:none;padding:0 20px;}
.tab li>a{display:block;font-size:20px;font-weight:600;line-height:50px;color:#e2e2e2;transition:all .2s;}
.tab li.on a{font-size:30px;}
.wrapper{position:relative;width:100%;height:100vh;overflow-x:hidden;}
.moving{position:absolute;top:0;left:0;width:100%;height:100%;}
.con{position:absolute;top:50px;left:0;width:90%;overflow:hidden;box-sizing:border-box;padding:30px;}
.note ul li{width:100%;border:1px solid #000;box-sizing:border-box;text-align:center;margin-bottom:20px;}
.note ul li a{display:block;text-align:center;transition:all .3s;position:relative;}
.note ul li a:hover{color:#4f73e0;}
.note ul li a .image_con{width:160px;height:160px;background:url(../img/sprite.png) no-repeat 0 -300px;transition:all .3s;margin:0 auto;}
.note ul li:nth-child(2) a .image_con{width:160px;height:160px;background:url(../img/image1.png) no-repeat center center;background-size:cover;transition:all .3s;margin:0 auto;}
.note ul li:nth-child(3) a .image_con{width:160px;height:160px;background:url(../img/image1.png) no-repeat center center;background-size:cover;position:absolute;top:0;left:50%;transform:translateX(-50%);opacity:1;transition:opacity .3s;margin:0 auto;}
.note ul li:nth-child(3) a{padding-top:160px;}
.note ul li:nth-child(3) a:before{content:'';display:block;width:160px;height:160px;background:url(../img/image2.png)no-repeat center center;position:absolute;top:0;left:50%;transform:translateX(-50%);opacity:0;transition:opacity .3s;margin:0 auto;}
.note ul li a:hover .image_con{opacity:0;background:url(../img/sprite.png) no-repeat 0 -300px;background-size:cover;}
.note ul li a:hover::before{opacity:1;}
.note ul li:nth-child(2) a:hover .image_con{background:url(../img/image2.png) no-repeat center center;background-size:cover;}
.css>ul{width:100%;}
.freefix{width:100%;overflow:hidden;}
.freefix li{float:left;width:calc(100%/10);text-align:center;}
=======
@charset "utf-8";
body{font-family:"Noto Sans KR", sans-serif;background-color:#f2ec99;line-height:3;overflow-x:hidden;}
p{font-weight:500;}
span{color:#46addd;}
.array_con li{border-bottom:2px solid #4b4b4b;}
.cssnote{position:absolute;top:50px;right:0;width:700px;box-sizing:border-box;border:1px solid #4b4b4b;background:#f8f8f8;z-index:10;padding:30px;}
.tab{height:50px;border-bottom:1px solid #000;box-sizing:border-box;background:#224D73;}
.tab:after{content:'';display:block;clear:both;}
.tab li{float:left;height:100%;list-style:none;padding:0 20px;}
.tab li>a{display:block;font-size:20px;font-weight:600;line-height:50px;color:#e2e2e2;transition:all .2s;}
.tab li.on a{font-size:30px;}
.wrapper{position:relative;width:100%;height:100vh;}
.moving{position:absolute;top:0;left:0;width:100%;height:100%;}
.con{position:absolute;top:50px;left:0;width:90%;overflow:hidden;box-sizing:border-box;padding:30px;}
.note ul li{width:100%;border:1px solid #000;box-sizing:border-box;text-align:center;margin-bottom:20px;}
.note ul li a{display:block;text-align:center;transition:all .3s;position:relative;}
.note ul li a:hover{color:#4f73e0;}
.note ul li a .image_con{width:160px;height:160px;background:url(../img/sprite.png) no-repeat 0 -300px;transition:all .3s;margin:0 auto;}
.note ul li:nth-child(2) a .image_con{width:160px;height:160px;background:url(../img/image1.png) no-repeat center center;background-size:cover;transition:all .3s;margin:0 auto;}
.note ul li:nth-child(3) a .image_con{width:160px;height:160px;background:url(../img/image1.png) no-repeat center center;background-size:cover;position:absolute;top:0;left:50%;transform:translateX(-50%);opacity:1;transition:opacity .3s;margin:0 auto;}
.note ul li:nth-child(3) a{padding-top:160px;}
.note ul li:nth-child(3) a:before{content:'';display:block;width:160px;height:160px;background:url(../img/image2.png)no-repeat center center;position:absolute;top:0;left:50%;transform:translateX(-50%);opacity:0;transition:opacity .3s;margin:0 auto;}
.note ul li a:hover .image_con{opacity:0;background:url(../img/sprite.png) no-repeat 0 -300px;background-size:cover;}
.note ul li a:hover::before{opacity:1;}
.note ul li:nth-child(2) a:hover .image_con{background:url(../img/image2.png) no-repeat center center;background-size:cover;}
.css>ul{width:100%;}
.freefix{width:100%;overflow:hidden;}
.freefix li{float:left;width:calc(100%/10);text-align:center;}
>>>>>>> Stashed changes:.history/test/css/index_20200923231022.css
.freefix_text{width:800px;height:250px;background-color:#000;color:#2fd83d;font-weight:700;}