@charset "utf-8";
body{font-family: 'Noto Sans KR', sans-serif;}
.bg_box{position:relative;background:url(../img/intro_bg.png)no-repeat center center;width:1226px;height:735px;margin:0 auto;}
.bg_box .list_wrap{position:absolute;width:200px;left;7px;top:338px;width:235px;height:338px; background:hotpink;}
.bg_box .list_wrap li{width:100%;height:calc(100% / 3);line-height:110px;text-align:center;font-size:20px;font-weight:400;background-color:cadetblue;}
.bg_box .list_wrap li a{display:block;}
.bg_box .list_wrap li a:hover{color:#24b3ec;}

.banner_wrap{position:absolute;top:7px;left:182px; width:773px;height:130px;background:pink;text-align:center;line-height:130px;}

.btn_wrap{position:absolute;top:230px;left:480px;text-align:center;}
.btn_wrap p{margin-bottom:30px; font-size:25px;color:#fff;}
.btn_wrap a{display:inline-block;width:200px;height:50px;font-weight:600;border-radius:25px;text-align:center;line-height:50px;animation-name:bg_color;animation-duration: 3s;animation-direction:alternate;animation-iteration-count:infinite;}
@keyframes bg_color{
    0%{background:coral;}
    100%{background:blue;}
}