@charset "utf-8";
body{font-family: 'Noto Sans KR', sans-serif;font-size:16px;line-height:1;}
.wrap{position:relative;}
.clearfix:after{content:'';display:block;clear: both;}
.inner{max-width:1200px;margin:0 auto;}
.headr_top{padding:10px 0px;height:50px;}
.headr_top .inner{height:100%;}
.headr_top .logo{float:left; height:100%;line-height:50px;}
.headr_top .logo .text_mark{color:#fba00e ;}
.headr_top nav{float: right;height:100%;}
.headr_top nav ul{float: left;height:100%;}
.headr_top nav ul li{float:left;height:100%;}
.headr_top nav ul li a{display:block;padding:0px 30px;height:100%;line-height:50px;font-size:20px;font-weight:600;transition:color 0.3s;}
.headr_top nav ul li a:hover{color:#fba00e;}

/* .contetn_wrap{padding:20px;} */
.main_visual{margin:0px 0px 50px 0px;padding:150px 0px;background:linear-gradient(to right,#4b68ba ,#a181bd)}
.main_visual .inner{position:relative;}
.main_visual .emph{position:relative; margin-left:20px;font-size:70px;font-weight:700;text-transform:capitalize;}
.main_visual .emph:after{content:'';position:absolute;left:3px;bottom:10px; width:94%;height:4px;background:#ffd92d;}
.main_visual h2{margin-bottom:30px; font-size:26px;color:#fff;}
.main_visual p{font-size:20px;color:#fff;word-break:keep-all;}
.left_con{padding:30px 30px 30px 0px;height:400px;box-sizing:border-box;}
.left_con strong{display:block;margin-bottom:30px;font-size:28px;}
.left_con .image_slider{position:relative;float:right;width:400px;height:300px;}
.image_slider ul{position:absolute;top:0;left:0;width:100%;height:100%;}
.image_slider ul li{position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;}
.image_slider ul li:nth-child(1){display:block;}
.image_slider ul li img{width:100%;height:100%;}
h2.tit{margin-bottom:50px;text-transform:capitalize;font-size:50px;text-align:center;}
.left_con p{font-size:18px;line-height:30px;}


.con_2{padding:30px;width:calc(100% / 2);}
.con_2 h2{margin-bottom:30px; font-size:28px;}
.con_2 p{margin-bottom:30px;}
.con_2 .btn_more{display:inline-block;margin-top:30px; width:160px;height:50px;border-radius:5px;background:rgb(22, 104, 212);color:#fff;line-height:50px;font-weight:600;text-align:center;}



footer{padding:50px 0px;}
@keyframes move{
    0%{right:200px;}
    100%{right:0;}
}