@charset "utf-8";
body{background:url(../img/bg_04.png)no-repeat;position:relative;height:100vh;font-family: 'Noto Sans KR', sans-serif;}
.wrap{position:absolute;left:50%;top:50%; transform:translate(-50%,-50%);}
.inner{max-width:1200px;margin:0 auto;}

.main_image .inner{text-align:center;}
.main_image .inner img{display:none}

.form_wrap{padding:30px; text-align:center;box-shadow:1px 1px 80px #868686;background:#fff;}
.selelt_wrap select{width:300px;height:30px;border:none;border-bottom:1px solid #ccc;}
.selelt_wrap select:nth-child(2){margin-bottom:30px;}
form div:not(.section){margin-bottom:30px;}
form label{margin-right:50px;font-size:15px;font-weight:500;}
form>div>input{width:300px;height:30px;border-bottom:1px solid #ccc;}

.section_cont{margin:0 auto;padding:20px;line-height: 1.rem;width:400px;height:150px; text-align: left;background:#fff;overflow-y:scroll;border:1px solid #a8a8a8;box-sizing:border-box;}
.section_cont h3{margin-bottom:20px;}
.section_cont ul{margin-top:30px;}
.section_cont .desc{display:inline-block;margin-top:20px; font-size:12px;word-break:keep-all;}
@media all and (max-width:550px) {
  body{background-size:70%;}
  .wrap{position:static;left:auto;top:auto; transform:translate(0,0);padding:5%;}
	.form_wrap{padding:5%;}
  .section_cont{margin:0 auto;padding:5%;line-height:1.5rem;width:100%;height:150px;}
  form label{margin-right:5%;font-size:15px;font-weight:500;}
  form>div>input{width:70%;height:30px;border-bottom:1px solid #ccc;}
  .selelt_wrap select{width:70%;height:30px;}
  .selelt_wrap select:nth-child(2){margin-bottom:3%;}
  .section_cont{font-size:15px;}
  .section_cont li{font-size:13px}
  p.section{font-size:0.875rem;line-height:20px;}
  input.check{width:20px;height:20px;position:relative;top:5px;left:-10px}
}
