@charset "utf-8";
/*common*/
*{box-sizing: border-box;}
@media all and (min-width:1280px){
.visbel{position: fixed;z-index: 70;}
.menu_btn{display: none;}
.header_wrapper{position:inherit; width: 100%;}
.header_wrapper>.header_wrap{width:100%; background:#D93232;}
.header_wrapper .header_inner{width:1280px;height:100%; margin: 0 auto;padding: 15px 5px;box-sizing: border-box;}
.header_wrapper .header_inner:after{content: '';display: block;clear: both;}
.header_wrapper .header_top{float: left;width: 200px;height: 70px;}
.header_wrapper .header_top>h1{ float: left; width: 80%;height: 80%;background: url(../img/logo.png)no-repeat center 5px;background-size: contain;}
.header_wrapper nav{float: right;width: 80%; height: 70px;}
.header_wrapper nav>ul{width: 100%; height: 100%;}
.header_wrapper nav>ul>li{display: inline-block;margin-left: 5%;width:150px;height:100%;}
.header_wrapper nav>ul>li:first-child{margin-left: 0%;}
.header_wrapper nav>ul>li>a{display: block;width: 100%;height: 100%;text-align: center;line-height: 70px;font-size: 2.4rem; color: #fff;font-weight: bold;text-transform:capitalize;}
/*clone*/
/*슬라이더*/
.wrap{width:1280px;margin: 0 auto;}
.slide_wrap{width:100%; height: 400px;position: relative;overflow:hidden; }
.slide_wrap>ul{width: 100%;height: 400px;position: absolute;top:0;left: 0;}
.slide_wrap>ul>li{width:100%;height: 400px;position: absolute;top: 0;left: 0;}
.slide_wrap>ul>li:nth-child(1){background: url(../img/slider/slide1.jpg)no-repeat center;}
.slide_wrap>ul>li:nth-child(2){background: url(../img/slider/slide2.jpg)no-repeat center;}
.slide_wrap>ul>li:nth-child(3){background: url(../img/slider/slide1.jpg)no-repeat center;}
.slide_wrap>ul>li:nth-child(4){background: url(../img/slider/slide2.jpg)no-repeat center;}
.indicater{position:absolute;bottom: 20px;left: 0;right: 0; z-index: 60;text-align: center;}
.indicater a{display: inline-block;width: 8px;height: 8px;margin: 0 5px;background: #d2d2d2;text-indent: -999em;border-radius: 40%;}
.indicater a.on{background: #6c6c6c;}

/*텍스트*/
.text_wrap{width: 100%; float: left;text-align: center;padding: 80px 0;background: #fff;}
.text_wrap>p{text-align:justify-all;font-size: 20px;margin-bottom: 3.5rem;color: #101010;}


/*menu_wrap*/
.menu_wrap{width: 100%;float: left;}
.menu{width: 960px;float: left;}
.menu>ul{width: 100%;float: left;}
.menu>ul>li{width: 320px;height: 320px; float: left;}
.menu>ul>li:nth-child(1){background: url(../img/menu/brunch/menu2_img2-4.png)no-repeat center;background-size: cover;}
.menu>ul>li:nth-child(2){background: url(../img/menu/pizzapasta/Rectangle%2011.png)no-repeat center;background-size: cover;}
.menu>ul>li:nth-child(3){background: url(../img/menu/pizzapasta/vongole.png)no-repeat center;background-size: cover;}
.menu>ul>li:nth-child(4){background: url(../img/menu/pilaf/calamaripilaf.png)no-repeat center;background-size: cover;}
.menu>ul>li:nth-child(5){background: url(../img/menu/menu_list/ricotta/menu1-1_img2-3.png)no-repeat center;background-size: cover;}
.menu>ul>li:nth-child(6){background: url(../img/menu/steak/anchandouble.png)no-repeat center;background-size: cover;}

.menu>ul>li>a{display: block; visibility: hidden;}
.menu>ul>li:hover >a{visibility: visible; display: block;width: 100%;height: 100%;background:rgb(0, 0, 0,0.7);text-align: center;line-height: 320px;color: #fff;font-size: 2.0rem;text-decoration: none;font-weight: bold;transition: all 0.5s;}
.menu>ul>li:hover{background-size:110%;}
.text_article{width: 320px;height:640px;float: right;background: #A64B4B;padding-top: 213px;box-sizing: border-box;}
.text_article>p{text-align:center;font-size: 1.8rem;line-height:50px;color: #fff;letter-spacing: 1.5px;}



.dessert_wrap,.event_wrap{width: 100%;height: 100%; float: left;padding-top: 90px;text-align: center;}
.dessert_wrap h2,.event_wrap h2{font-size:2.4rem; color:#FF0000;text-transform: capitalize;}
.dessert_wrap p,.event_wrap>p{font-size:1.6rem;margin-top:60px;margin-bottom: 125px;font-weight:bold;}
.dessert_wrap ul{width: 100%;height: 100%;float: left;}
.dessert_wrap ul>li{width: 320px;height: 320px;float: left;}
.dessert_wrap ul>li:nth-child(1){background: url(../img/menu/dessert/browniecake.png)no-repeat center;background-size: cover;}
.dessert_wrap ul>li:nth-child(2){background: url(../img/menu/dessert/cheesecake.png)no-repeat center;background-size: cover;}
.dessert_wrap ul>li:nth-child(3){background: url(../img/menu/dessert/magosundae.png)no-repeat center;background-size: cover;}
.dessert_wrap ul>li:nth-child(4){background: url(../img/menu/dessert/uglysundae.png)no-repeat center;background-size: cover;}


.dessert_wrap>ul>li>a{visibility: hidden;}
.dessert_wrap>ul>li:hover a{visibility: visible; display: block;width: 100%;height: 100%;background:rgb(0, 0, 0,0.7);text-align: center;line-height: 320px;color: #fff;font-size: 2.0rem;text-decoration: none;font-weight: bold;transition: all 0.5s;}



.event_wrap>div{width: 400px;height: 300px;float: left;padding-bottom:35px; }
.event_wrap>div:nth-child(3){background: url(../img/event/kakak.jpg)no-repeat center 55px;;background-size:contain;}
.event_wrap>div:nth-child(4){background: url(../img/event/event_img03.png)no-repeat center 55px;;background-size:contain;}
.event_wrap div:nth-child(3){margin-left: 130px; margin-right: 260px;}
.event_wrap div>p{text-align: center;font-size:1.8rem;color: #FF0000;height: 50px;line-height: 50px;}


footer{width: 100%;height:100%; float: left; clear: both; text-align: center;padding-top: 35px;background: #A64B4B;}
    footer:after{content: '';display: block;clear: both;}
footer h3{display: inline-block;width: 200px;height: 40px; background: url(../img/footerlogo.png)no-repeat center;margin-bottom: 65px;}
footer p{font-size: 1.6rem;line-height: 2;color: #c4c4c4;}
    }


@media all and (min-width:768px) and (max-width:1279px){
.visbel{position: fixed;z-index: 70;}    
.menu_btn{display: none;}
.header_wrapper{width: 100%;}    
.header_wrapper>.header_wrap{width:100%;background: #D93232;padding: 15px 10px;box-sizing: border-box;z-index: 60;}
.header_inner{width:100%;height:100%;}
.header_top{width: 100%;height: 100%;text-align: center;}
.header_top>h1{display: inline-block;width: 80%;padding-bottom: 5%; background: url(../img/logo.png)no-repeat center 0px; background-size:contain 5px;}
nav{width: 100%;}
nav>ul{width: 100%; height: 100%;text-align: center;}
nav>ul>li{display:inline-block;width: 15%;height: 100%;margin-left:0;}
nav>ul>li:first-child{margin-left: 0px;}
nav>ul>li>a{display: block;width: 100%;height: 100%;text-align: center;line-height: 70px;font-size: 1.9rem; color: #fff;font-weight: bold;text-transform:capitalize;}
/*clone*/
.header_clone{position: fixed;left: 0; width:100%;background: #fff;padding: 15px 10px;display: none;z-index: 70;}
.header_clone .header_inner{width:100%;height:100%;}
.header_clone .header_top>h1{width: 100%;height: 50px; background: url(../img/logo-clone.png)no-repeat;background-position:center; background-size:contain;padding-bottom: 20px;}
.header_clone nav{width: 100%;height: 100%;}
.header_clone nav>ul{width: 100%;height: 100%;text-align: center;}
.header_clone nav>ul>li{display:inline-block;width: 15%;height: 100%;margin-bottom:0;}
.header_clone nav>ul>li:first-child{margin-left: 0px;}
.header_clone nav>ul>li>a{display: block;width: 100%;height: 100%;text-align: center;font-size: 1.9rem; color: #000;font-weight: bold;text-transform:capitalize;line-height:50px;}
    
    
/*슬라이더*/
.wrap{width:100%;margin: 0 auto; box-sizing: border-box;}
.slide_wrap{width:100%; height: 300px;position: relative;overflow:hidden; }
.slide_wrap>ul{width: 100%;height: auto;position: absolute;top:0;left: 0;}
.slide_wrap>ul>li{width:100%;height: 300px;position: absolute;top: 0;left: 0;}
.slide_wrap>ul>li:nth-child(1){background: url(../img/slider/slide1.jpg)no-repeat center;}
.slide_wrap>ul>li:nth-child(2){background: url(../img/slider/slide2.jpg)no-repeat center;}
.slide_wrap>ul>li:nth-child(3){background: url(../img/slider/slide1.jpg)no-repeat center;}
.slide_wrap>ul>li:nth-child(4){background: url(../img/slider/slide2.jpg)no-repeat center;}
.indicater{position:absolute;bottom: 20px;left: 0;right: 0; z-index: 60;text-align: center;}
.indicater a{display: inline-block;width: 8px;height: 8px;margin: 0 5px;background: #d2d2d2;text-indent: -999em;border-radius: 40%;}
.indicater a.on{background: #6c6c6c;}


/*텍스트*/
.text_wrap{width: 100%; float: left;text-align: center;padding: 80px 0;background: #fff;}
.text_wrap>p{text-align:justify-all;font-size: 20px;margin-bottom: 3.5rem;color: #101010;}


/*menu_wrap*/
.menu_wrap{width: 768px; margin: 0 auto; box-sizing: border-box;}
.menu>ul:after{content: '';display: block;clear: both;}
.menu>ul>li{width: 384px;height:320px;float: left;}
.menu>ul>li:nth-child(1){background: url(../img/menu/brunch/menu2_img2-4.png)no-repeat center;background-size: cover;float: left;}
.menu>ul>li:nth-child(2){background: url(../img/menu/pizzapasta/Rectangle%2011.png)no-repeat center;background-size: cover;}
.menu>ul>li:nth-child(3){background: url(../img/menu/pizzapasta/vongole.png)no-repeat center;background-size: cover;}
.menu>ul>li:nth-child(4){background: url(../img/menu/pilaf/calamaripilaf.png)no-repeat center;background-size: cover;}
.menu>ul>li:nth-child(5){background: url(../img/menu/menu_list/ricotta/menu1-1_img2-3.png)no-repeat center;background-size: cover;}
.menu>ul>li:nth-child(6){background: url(../img/menu/steak/anchandouble.png)no-repeat center;background-size: cover;}

.menu>ul>li>a{visibility: hidden;}
.menu>ul>li:hover a{visibility: visible; display: block;width: 100%;height: 100%;background:rgb(0, 0, 0,0.7);text-align: center;line-height: 320px;color: #fff;font-size: 2.0rem;text-decoration: none;font-weight: bold;transition: all 0.5s;}
.menu>ul>li:hover{background-size:100%;}
.text_article{width: 384px;float: right;height:640px;background: #A64B4B;padding-top: 213px;box-sizing: border-box;}
.text_article>p{text-align:center;font-size: 1.8rem;line-height:50px;color: #fff;letter-spacing: 1.5px;}



.dessert_wrap,.event_wrap{width: 768px;height: 100%;padding-top: 90px;text-align: center;margin: 0 auto;}
.dessert_wrap h2,.event_wrap h2{font-size:2.4rem; color:#FF0000;text-transform: capitalize;}
.dessert_wrap p,.event_wrap>p{font-size:1.6rem;margin-top:60px;margin-bottom: 125px;font-weight:bold;}
.dessert_wrap ul{width:768px;height: 100%;margin: 0 auto;}
.dessert_wrap ul:after{content: '';display: block;clear: both;}
.dessert_wrap ul>li{width: 384px;height: 320px;float: left;}
.dessert_wrap ul>li:nth-child(1){background: url(../img/menu/dessert/browniecake.png)no-repeat center;background-size: cover;}
.dessert_wrap ul>li:nth-child(2){background: url(../img/menu/dessert/cheesecake.png)no-repeat center;background-size: cover;}
.dessert_wrap ul>li:nth-child(3){background: url(../img/menu/dessert/magosundae.png)no-repeat center;background-size: cover;}
.dessert_wrap ul>li:nth-child(4){background: url(../img/menu/dessert/uglysundae.png)no-repeat center;background-size: cover;}


.dessert_wrap>ul>li>a{visibility: hidden;}
.dessert_wrap>ul>li:hover a{visibility: visible; display: block;width: 100%;height: 100%;background:rgb(0, 0, 0,0.7);text-align: center;line-height: 320px;color: #fff;font-size: 2.0rem;text-decoration: none;font-weight: bold;transition: all 0.5s;}


.event_wrap:after{content: '';display: block;clear: both;}
.event_wrap div{width:384px;height:300px;float: left;padding-bottom:35px;}
.event_wrap div:last-child{margin-right: 0; }
    
.event_wrap>div:nth-child(3){background: url(../img/event/kakak.jpg)no-repeat center 55px;;background-size:contain;}
.event_wrap>div:nth-child(4){background: url(../img/event/event_img03.png)no-repeat center 55px;background-size:contain;}
.event_wrap div>p{text-align: center;font-size:1.8rem;color: #FF0000;height: 50px;line-height: 50px;}


footer{width: 100%;height:100%; float: left;text-align: center;padding-top: 35px;background: #A64B4B;}
    footer:after{content: '';display: block;clear: both;}
footer h3{display: inline-block;width: 200px;height: 40px; background: url(../img/footerlogo.png)no-repeat center;margin-bottom: 65px;}
footer p{font-size: 1.6rem;line-height: 2;color: #c4c4c4;}    
}

@media all and (min-width:320px) and (max-width:767px){
.visbel{position: fixed;z-index: 70;}
.open{display: block;}
.menu_btn{width: 30px;height: 30px;border: 2px solid #fff;padding: 0 5px;border-radius: 3px;position: absolute;left: 90%;top:45px;}
.menu_btn>span{display: block;width: 100%;height: 2px;background: #fff;}
.menu_btn>span:nth-child(2){margin: 4px 0px;}
    
.header_clone .menu_btn{top: 65px;border:2px solid #000;}
.header_clone .menu_btn>span{background: #000;}
    
.header_wrap{position: fixed;width:100%;height:100px; background: #D93232;padding: 15px 10px;box-sizing: border-box;}
.header_inner{width:100%;height:40px;/*position: fixed;top:25px;left: 0;z-index: 60;*/}
.header_top{width: 100%;height: 100%;}
.header_top>h1{width: 100%;height:110%; background: url(../img/logo.png)no-repeat;background-position:center; background-size:45%;padding: 30px 0;}
nav{width: 100%;position:fixed;top:80px;right:-99em; z-index:50;background:#D93232;padding-bottom: 20px;}
nav>ul{width: 100%; height: 100%;}
nav>ul>li{width: 100%;height: 100%;margin-left:0;}
nav>ul>li:first-child{margin-left: 0px;}
nav>ul>li>a{display: block;width: 100%;height: 100%;text-align: center;line-height: 50px;font-size: 1.6rem; color: #fff;font-weight: bold;text-transform:capitalize;}

    /*clone*/
.header_clone{display: none;}
    
    
    
/*슬라이더*/   
.wrap{width:100%;height: 100%;}
.slide_wrap{width:100%; height: 300px;display: none;}
.slide_wrap>ul{width: 100%;height: 300px;overflow: hidden;}
.slide_wrap>ul>li{float: left;width:100%;height:100%}
.slide_wrap>ul>li:nth-child(1){background: url(../img/slider/slide1.jpg)no-repeat center;background-size: 100% auto;}
.slide_wrap>ul>li:nth-child(2){background: url(../img/slider/slide2.jpg)no-repeat center;background-size: 100% auto;}
.slide_wrap>ul>li:nth-child(3){background: url(../img/slider/slide1.jpg)no-repeat center;background-size: 100% auto;}


/*텍스트*/
.text_wrap{display: none;}
.text_wrap>p{text-align:justify-all;font-size: 20px;margin-bottom: 3.5rem;color: #101010;}


/*menu_wrap*/
.menu_wrap{width:100%;height: 100%; margin: 0 auto;text-align: center;
    }
.menu>ul{width:100%;height: 100%;box-sizing: border-box;}
.menu>ul:after{content: '';display: block;clear: both;}
.menu>ul>li{width:33.3%;height:150px;float: left;}
.menu>ul>li:nth-child(1){background: url(../img/menu/brunch/menu2_img2-4.png)no-repeat center;background-size:cover;}
.menu>ul>li:nth-child(2){background: url(../img/menu/pizzapasta/Rectangle%2011.png)no-repeat center;background-size:cover;}
.menu>ul>li:nth-child(3){background: url(../img/menu/pizzapasta/vongole.png)no-repeat center;background-size: cover;}
.menu>ul>li:nth-child(4){background: url(../img/menu/pilaf/calamaripilaf.png)no-repeat center;background-size:cover;}
.menu>ul>li:nth-child(5){background: url(../img/menu/menu_list/ricotta/menu1-1_img2-3.png)no-repeat center;background-size:cover;}
.menu>ul>li:nth-child(6){background: url(../img/menu/steak/anchandouble.png)no-repeat center;background-size:cover;}

.menu>ul>li>a{visibility:visible;display: block;width: 100%;height: 100%; background: rgba(0,0,0,0.6); color: #fff;font-size: 1.8rem;line-height:150px;text-align: center;letter-spacing: 10px;}
/*.menu>ul>li:hover a{visibility: visible; display: block;width: 100%;height: 100%;background:rgb(0, 0, 0,0.7);text-align: center;line-height: 150px;color: #fff;font-size: 2.0rem;text-decoration: none;font-weight: bold;transition: all 0.5s;}*/
    .menu>ul>li:hover a{background: rgba(0,0,0,0.3);font-size: 2.0rem;line-height: 270px;text-decoration: none;font-weight: 600;letter-spacing: 2px;transition: all 0.3s;}
.text_article{width:100%;height:640px;background: #A64B4B;padding-top: 213px;/*border-radius: 0 0 10px 10px;*/}
.text_article>p{text-align:center;font-size: 1.8rem;line-height:50px;color: #fff;letter-spacing: 1.5px;}



.dessert_wrap,.event_wrap{width:100%;height: 100%;padding-top: 90px;text-align: center;margin: 0 auto;}
.dessert_wrap h2,.event_wrap h2{font-size:2.4rem; color:#FF0000;text-transform: capitalize;}
.dessert_wrap p,.event_wrap>p{font-size:1.6rem;margin-top:60px;margin-bottom: 125px;font-weight:bold;}
.dessert_wrap ul{width:100%;height: 100%;margin: 0 auto;}
.dessert_wrap ul:after{content: '';display: block;clear: both;}
.dessert_wrap ul>li{float: left;width:25%;height: 300px;}
.dessert_wrap ul>li:nth-child(1){background: url(../img/menu/dessert/browniecake.png)no-repeat center;background-size: cover;}
.dessert_wrap ul>li:nth-child(2){background: url(../img/menu/dessert/cheesecake.png)no-repeat center;background-size: cover;}
.dessert_wrap ul>li:nth-child(3){background: url(../img/menu/dessert/magosundae.png)no-repeat center;background-size: cover;}
.dessert_wrap ul>li:nth-child(4){background: url(../img/menu/dessert/uglysundae.png)no-repeat center;background-size: cover;}


.dessert_wrap>ul>li>a{display: block;width: 100%;height: 100%;background: rgba(0,0,0,0.6);font-size: 1.6rem;text-align:justify; color: #fff;padding: 50% 45%;line-height: 25px;font-weight: 600;}
.dessert_wrap>ul>li:hover a{background: rgba(0,0,0,0.3);text-decoration: none;transition: all 0.3s;padding: 50% 0;text-align: center;line-height: 270px;}

    
.event_wrap:after{content: '';display: block;clear: both;}
.event_wrap div{display: inline-block;text-align: center; width:80%;padding-bottom: 50%;margin-bottom: 50px;}
.event_wrap div:last-child{margin-right: 0; }
    
.event_wrap>div:nth-child(3){background: url(../img/event/kakak.jpg)no-repeat center 55px;;background-size:contain;}
.event_wrap>div:nth-child(4){background: url(../img/event/event_img03.png)no-repeat center 55px;background-size:contain;}
.event_wrap div>p{text-align: center;font-size:1.8rem;color: #FF0000;height: 50px;line-height: 50px;}


footer{width: 100%;height:100%; float: left; clear: both; text-align: center;padding-top: 35px;background: #A64B4B;}
footer h3{display: inline-block;width: 100px;height: 40px; background: url(../img/footerlogo.png)no-repeat center;margin-bottom: 35px;background-size: contain;}
footer p{font-size: 1.1rem;line-height: 2;color: #c4c4c4;}     
}