@charset "utf-8";
.header_top{
    padding:100px 0;
    background:linear-gradient(#1E9CEF,#750CF2);
    h1.log{
        text-align:center;
        font-size:40px;
        color:#2D2427;

    }
}