{{>header title ="회원가입페이지"}}
<section>
    <div class="inner">
        회원가입페이지
        {{#each words}}
            <h2>{{this.word}}</h2>
                <ul>
                    {{#each this.definition}}
                        <li>{{this}}</li>
                    {{/each}}
                    {{#each this.examples}}
                        <li>{{this.[0]}}</li>
                    {{/each}}
                </ul>
        {{/each}}
    </div>
</section>
{{>footer}}