@charset "utf-8";

@media all and (min-width:1280px){
    /*menu_con*/
    .menu_con{width: 1080px;height: 100%;margin: auto;padding-top: 50px;}
    .menu_con>ul{width: 100%;height: 100%;float: left;}
    .menu_con>ul>li{width: 280px;height: 280px;float: left;margin-right: 120px;margin-bottom: 120px;text-align: center;}
    .menu_con>ul>li:nth-child(3n){margin-right: 0;}
    .menu_con>ul>li>h4{padding-top: 280px;font-size: 1.5em;color: rgb(217,50,50);}
    .menu_con>ul>li>p{font-size: 1.4rem;padding-top: 15px;padding-bottom: 20px; text-transform: capitalize;}
    .menu_con>ul>li>span{font-size: 1.3rem;font-weight: 600;}
    
    }


@media all and (min-width:768px) and (max-width:1279px){
    /*menu_con*/
    .menu_con{width:100%;height: 100%;padding-top: 50px;}
    .menu_con>ul{width: 100%;height: 100%;text-align: center;}
    .menu_con>ul>li{display: inline-block;width:28%;height: 280px;margin-right:5%;margin-bottom: 120px;text-align: center;}
    .menu_con>ul>li:nth-child(3n){margin-right:0;}
    .menu_con>ul>li>h4{padding-top: 100%;font-size: 1.5em;color: rgb(217,50,50);}
    .menu_con>ul>li>p{font-size: 1.4rem;padding-top: 15px;padding-bottom: 20px; text-transform: capitalize;}
    .menu_con>ul>li>span{font-size: 1.3rem;font-weight: 600;} 
}

@media all and (min-width:320px) and (max-width:767px){
    /*menu_con*/
    .menu_con{width:100%;height: 100%;padding-top: 50px;}
    .menu_con>ul{width: 100%;height: 100%;text-align: center;}
    .menu_con>ul>li{display: inline-block;width:60%;height: 280px;margin-bottom: 120px;text-align: center;}
    .menu_con>ul>li:nth-child(3){margin-right:0;}
    .menu_con>ul>li>h4{padding-top: 100%;font-size: 1.5em;color: rgb(217,50,50);}
    .menu_con>ul>li>p{font-size: 1.4rem;padding-top: 15px;padding-bottom: 20px; text-transform: capitalize;}
    .menu_con>ul>li>span{font-size: 1.3rem;font-weight: 600;}
}