@charset "utf-8";
/*common*/
    .menu_con>ul>li:nth-child(1)>h4{background: url(../../img/menu/menu_list/steak/salsa.jpg)no-repeat center;background-size:contain;}
    .menu_con>ul>li:nth-child(2)>h4{background: url(../../img/menu/menu_list/steak/cordon.jpg)no-repeat center;background-size:contain;}
    .menu_con>ul>li:nth-child(3)>h4{background: url(../../img/menu/menu_list/steak/galbi.png)no-repeat center;background-size:contain;}
    .menu_con>ul>li:nth-child(4)>h4{background: url(../../img/menu/menu_list/steak/anchang.png)no-repeat center;background-size:contain;}
    .menu_con>ul>li:nth-child(5)>h4{background: url(../../img/menu/menu_list/steak/anchang_double.png)no-repeat center;background-size:contain;}
    .menu_con>ul>li:nth-child(6)>h4{background: url(../../img/menu/menu_list/steak/chicken.png)no-repeat center;background-size:contain;}
    .menu_con>ul>li:nth-child(7)>h4{background: url(../../img/menu/menu_list/steak/pork.png)no-repeat center;background-size:contain;}
    .menu_con>ul>li:nth-child(8)>h4{background: url(../../img/menu/menu_list/steak/triple.png)no-repeat center;background-size:contain;}

