{{>header}}
<section id="main">
    <div class="inner">
        <nav class="lnb">
            <ul class="lnb_list">
                <li class="lnb_item">
                    <a href="/live" class="live_ib_btn">
                        입장하기
                    </a>
                </li>
                <li class="lnb_item">
                    <a href="#">
                        E-booth
                    </a>
                </li>
                <li class="lnb_item">
                    <a href="#">
                        Notice
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</section>
{{>footer}}