{{>header title="메인"}}
<section id="content_wrap">
    <div class="left_con">
        <ul class="lnb_list">
            <li class="lnb_itme"><a href="#"><img src="/img/info.png" alt=""></a></li>
            <li class="lnb_itme"><a href="#"><img src="" alt=""></a></li>
            <li class="lnb_itme"><a href="#"><img src="" alt=""></a></li>
            <li class="lnb_itme"><a href="#"><img src="" alt=""></a></li>
            <li class="lnb_itme"><a href="#"><img src="" alt=""></a></li>
        </ul>
    </div>
    <div class="main_contetn">
        <div class="inner clearfix">
            <li class="content_box">
                <strong class="title">박슬기 교수</strong>
                <p class="text">IV-논문</p>
                <strong class="sub_title">주제어</strong>
                <p class="sub_text">물류시설,물류센터,자동화,대형화,쿠팡,이마트,Amazon,필수공간요소,적재공간,이동공간,접안공간</p>
                <button type="button" class="linkd_btn">논문보기</button>
            </li>
            <li class="content_box center">
                <strong class="title">박슬기 교수</strong>
                <p class="text">IV-논문</p>
                <strong class="sub_title">주제어</strong>
                <p class="sub_text">물류시설,물류센터,자동화,대형화,쿠팡,이마트,Amazon,필수공간요소,적재공간,이동공간,접안공간</p>
                <button type="button" class="linkd_btn">논문보기</button>
            </li>
            <li class="content_box">
                <strong class="title">박슬기 교수</strong>
                <p class="text">IV-논문</p>
                <strong class="sub_title">주제어</strong>
                <p class="sub_text">물류시설,물류센터,자동화,대형화,쿠팡,이마트,Amazon,필수공간요소,적재공간,이동공간,접안공간</p>
                <button type="button" class="linkd_btn">논문보기</button>
            </li>
            <li class="content_box">
                <strong class="title">박슬기 교수</strong>
                <p class="text">IV-논문</p>
                <strong class="sub_title">주제어</strong>
                <p class="sub_text">물류시설,물류센터,자동화,대형화,쿠팡,이마트,Amazon,필수공간요소,적재공간,이동공간,접안공간</p>
                <button type="button" class="linkd_btn">논문보기</button>
            </li>
            <li class="content_box center">
                <strong class="title">박슬기 교수</strong>
                <p class="text">IV-논문</p>
                <strong class="sub_title">주제어</strong>
                <p class="sub_text">물류시설,물류센터,자동화,대형화,쿠팡,이마트,Amazon,필수공간요소,적재공간,이동공간,접안공간</p>
                <button type="button" class="linkd_btn">논문보기</button>
            </li>
            <li class="content_box">
                <strong class="title">박슬기 교수</strong>
                <p class="text">IV-논문</p>
                <strong class="sub_title">주제어</strong>
                <p class="sub_text">물류시설,물류센터,자동화,대형화,쿠팡,이마트,Amazon,필수공간요소,적재공간,이동공간,접안공간</p>
                <button type="button" class="linkd_btn">논문보기</button>
            </li>
            <li class="content_box">
                <strong class="title">박슬기 교수</strong>
                <p class="text">IV-논문</p>
                <strong class="sub_title">주제어</strong>
                <p class="sub_text">물류시설,물류센터,자동화,대형화,쿠팡,이마트,Amazon,필수공간요소,적재공간,이동공간,접안공간</p>
                <button type="button" class="linkd_btn">논문보기</button>
            </li>
            <li class="content_box center">
                <strong class="title">박슬기 교수</strong>
                <p class="text">IV-논문</p>
                <strong class="sub_title">주제어</strong>
                <p class="sub_text">물류시설,물류센터,자동화,대형화,쿠팡,이마트,Amazon,필수공간요소,적재공간,이동공간,접안공간</p>
                <button type="button" class="linkd_btn">논문보기</button>
            </li>
            <li class="content_box">
                <strong class="title">박슬기 교수</strong>
                <p class="text">IV-논문</p>
                <strong class="sub_title">주제어</strong>
                <p class="sub_text">물류시설,물류센터,자동화,대형화,쿠팡,이마트,Amazon,필수공간요소,적재공간,이동공간,접안공간</p>
                <button type="button" class="linkd_btn">논문보기</button>
            </li>
            <li class="content_box">
                <strong class="title">박슬기 교수</strong>
                <p class="text">IV-논문</p>
                <strong class="sub_title">주제어</strong>
                <p class="sub_text">물류시설,물류센터,자동화,대형화,쿠팡,이마트,Amazon,필수공간요소,적재공간,이동공간,접안공간</p>
                <button type="button" class="linkd_btn">논문보기</button>
            </li>
            <li class="content_box center">
                <strong class="title">박슬기 교수</strong>
                <p class="text">IV-논문</p>
                <strong class="sub_title">주제어</strong>
                <p class="sub_text">물류시설,물류센터,자동화,대형화,쿠팡,이마트,Amazon,필수공간요소,적재공간,이동공간,접안공간</p>
                <button type="button" class="linkd_btn">논문보기</button>
            </li>
            <li class="content_box">
                <strong class="title">박슬기 교수</strong>
                <p class="text">IV-논문</p>
                <strong class="sub_title">주제어</strong>
                <p class="sub_text">물류시설,물류센터,자동화,대형화,쿠팡,이마트,Amazon,필수공간요소,적재공간,이동공간,접안공간</p>
                <button type="button" class="linkd_btn">논문보기</button>
            </li>
            <li class="content_box">
                <strong class="title">박슬기 교수</strong>
                <p class="text">IV-논문</p>
                <strong class="sub_title">주제어</strong>
                <p class="sub_text">물류시설,물류센터,자동화,대형화,쿠팡,이마트,Amazon,필수공간요소,적재공간,이동공간,접안공간</p>
                <button type="button" class="linkd_btn">논문보기</button>
            </li>
            <li class="content_box center">
                <strong class="title">박슬기 교수</strong>
                <p class="text">IV-논문</p>
                <strong class="sub_title">주제어</strong>
                <p class="sub_text">물류시설,물류센터,자동화,대형화,쿠팡,이마트,Amazon,필수공간요소,적재공간,이동공간,접안공간</p>
                <button type="button" class="linkd_btn">논문보기</button>
            </li>
            <li class="content_box">
                <strong class="title">박슬기 교수</strong>
                <p class="text">IV-논문</p>
                <strong class="sub_title">주제어</strong>
                <p class="sub_text">물류시설,물류센터,자동화,대형화,쿠팡,이마트,Amazon,필수공간요소,적재공간,이동공간,접안공간</p>
                <button type="button" class="linkd_btn">논문보기</button>
            </li>
        </div>
    </div>
</section>
{{>footer}}