<header></header>
<section>
<img class="view_image" src="/img/wqwe.webp" alt="">
<img src="/img/wwwwq.png" usemap="#image-map">
<map name="image-map">
    <area target="" alt="" title="" href="" coords="430,571,571,668" shape="rect">
    <area target="" alt="" title="" href="" coords="757,565,869,658" shape="rect">
    <area target="" alt="" title="" href="" coords="1056,559,1178,660" shape="rect">
    <area target="" alt="" title="" href="" coords="1373,565,1517,678" shape="rect">
</map>
<script>
    $('img[usemap]').rwdImageMaps();
</script>
</section>
<footer></footer>