@charset "utf-8";
/*common*/
html,body{width: 100%;height: 100%;font-family:'nanumbarungothicregular','nanumbarungothicbold','Malgun Gothic','Malgun Gothic','sans-serif','Arial'; font-size: 0.625rem;line-height: 1;}
body{overflow-x:hidden;}
.inner{width: 1235px;margin: 0 auto;}
/*상단 바로가기*/
#skip_nav {position:fixed;left:0;top:-41px;width:100%;line-height:40px;text-align:center;font-size:16px;background:rgba(0,0,0,0.6);color:#fff;border-bottom:1px solid #fff;z-index:1000;transition: top 0.3s;}
#skip_nav:focus{top:0;}
/*탑버튼*/
#top_button{position:fixed;bottom:20%;right:20px;display: none; width: 40px;height: 40px;z-index:99;}
#top_button>a{display: block;width: 100%;height: 100%;border-radius: 50%;background: #4a4a4a;color: #fff;text-align: center;line-height: 40px;letter-spacing: 1px; font-size: 1.3rem;}
/*video_wrap*/
.video_wrap{position: relative;min-width: 1300px;width:100%;min-height:750px; padding-top: 35%;margin-bottom: 100px; overflow: hidden;pointer-events: none;}
.video_con{position:absolute;top:0;left:0;min-width: 1235px;width:100%;min-height: 750px; padding-top: 40%; overflow:hidden;background:rgba(0,0,0,0.9);}
.video{position: absolute;top:0;left:0;width: 100%;min-height:750px; height:auto;}
/*wrapper*/
.wrapper{width: 100%;overflow: hidden;}
/*header*/
.smeg_header{position:absolute;top: 0;left: 0; width: 100%;height: 100px;z-index: 99;}
.smeg_header:after{content: '';display: block;width: 50%;height:850px; background:#0077df;position: absolute;top:20px;left:50%;display: none;}
.smeg_header.bg:after{content: '';display: block;width: 100%;height:870px; background:#0077df;position: absolute;top: -20px;left:20%;display: block;}
.smeg_header.avtive.select:after{content: '';display:block;position: fixed;top:61px;left: 0; width: 100%;height: 42px;background: #ccc;z-index: -1;}
/*smeg avitive*/
.smeg_header.avtive{position:fixed;top:0;width: 100%;height: 61px; transition: all 0.2s ease;background: #fff;}
.smeg_header.avtive .gnb_wrap{display: none;}
/*avitive-main_nav*/
.smeg_header.avtive .main_nav{float: left;width: 100%;padding-top: 20px;}
.smeg_header.avtive .logo{float: left;width: 114px;height: 22px;margin-right: 75px;}
.smeg_header.avtive .logo>a{display: block;width: 100%;height: 100%;background: url(../images/black-smeg-logo.png)no-repeat center;background-size: cover;}
/*avitive-lnb_wrap*/
.smeg_header.avtive .lnb_wrap{float: left;}
.smeg_header.avtive .lnb_wrap>ul{float: left;}
.smeg_header.avtive .lnb_wrap>ul>li{float: left;height:auto;padding:0 25px; position: relative;}
.smeg_header.avtive .lnb_wrap>ul>li>ul{position: absolute;left: 0;top: 42px;width:780px;display: none;}
.smeg_header.avtive .lnb_wrap>ul>li>ul:after{content: '';display: block;width: 100%;height: 47px;background: #ccc;position:fixed;top: 61px;left: 0;z-index:-1;}
.smeg_header.avtive .lnb_wrap>ul>li>ul>li{float: left;margin-left: 10px;}
.smeg_header.avtive .lnb_wrap>ul>li>ul>li:first-child{margin-left: 0;}
.smeg_header.avtive .lnb_wrap>ul>li>ul>li>a{display: inline-block;font-size: 1.4rem;padding:15px 5px;color: #000;}
.smeg_header.avtive .lnb_wrap>ul>li>a:hover +ul{display:block;}
.smeg_header.avtive .lnb_wrap>ul>li>a.open +ul{display:block;}
.smeg_header.avtive .lnb_wrap>ul>li>ul>li>a:hover{color:#fff;}
.smeg_header.avtive .lnb_wrap>ul>li>a{display: inline-block;font-size: 1.6rem;line-height: 22px;padding-bottom:20px;color: #000;}
/*avitive-sub_menu*/
.smeg_header .sub_menu>ul>li:nth-child(1) .shopping{position:absolute;top:50px;right:-20px;width:400px;height:150px;background:#fff;border:1px solid #000;display:none;}
.smeg_header .sub_menu>ul>li:nth-child(1) .shopping::before{content:'';position: absolute;top:-13px;right:20px;width:24px;height:13px;background:url(../images/pop-dir-mark-ico.png)no-repeat center center;background-size:cover;}
.smeg_header .sub_menu>ul>li:nth-child(1) .shopping>p{height:50px;text-align:center;font-size:1.5rem;font-weight:bold;line-height:50px;border-bottom:1px solid rgb(211, 211, 211);}
.smeg_header .sub_menu>ul>li:nth-child(1) .shopping>div{width:100%;height:100px;text-align:center;position:relative;}
.smeg_header .sub_menu>ul>li:nth-child(1) .shopping>div>a{position: absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:280px;height:40px;line-height:40px;background:#000;color:#fff;font-size:1.4rem;font-weight:bold;}
.smeg_header.avtive .sub_menu{float: right;}
.smeg_header.avtive .sub_menu>ul{float: left;}
.smeg_header.avtive .sub_menu>ul>li{float: left;margin-left: 30px;}
.smeg_header .sub_menu>ul>li{position:relative;}
.smeg_header.avtive .sub_menu>ul>li>a{display: inline-block;width: 30px;height: 25px; font-size: 1.6rem;line-height: 22px;color: #000;}
.smeg_header.avtive .sub_menu>ul>li:nth-child(1)>a{background: url(../images/hed-shopbasket-ico.png)no-repeat center;background-size:cover;}
.smeg_header.avtive > .inner .sub_menu>ul>li:nth-child(2){position: relative;}
.smeg_header.avtive  > .inner .sub_menu>ul>li:nth-child(2)>a{font-size: 1.4rem;line-height:0px;position: relative;text-transform: uppercase; z-index: 200;}
.smeg_header.avtive  > .inner .sub_menu>ul>li:nth-child(2)>a>.btn{width:40px;transform: rotate(0deg);margin-top:0px;transition: all 0.4s;}
.smeg_header  > .inner .sub_menu>ul>li:nth-child(2)>a>.btn.on{transform-origin:center; transform:translateX(-15px) rotate(90deg);margin-top: 20px;}
.smeg_header.avtive > .inner .sub_menu>ul>li:nth-child(2)>a>.btn>span{display: block;width: 100%;height: 2px;background: #000;}
.smeg_header.avtive  > .inner .sub_menu>ul>li:nth-child(2)>a>.btn>span:nth-child(1){margin-top: 10px;}
.smeg_header.avtive  > .inner .sub_menu>ul>li:nth-child(2)>a>.btn>span:nth-child(2){width: 25px;height: 3px;margin: 4px 0; }
/*smeg_org*/
.smeg_header.org.open{border-bottom:1px solid #848484;}
.smeg_header.org > .inner .gnb_wrap a{font-size: 1.3rem;line-height: 30px; color: #fff;}
.smeg_header.org > .inner .gnb_wrap{width: 100%;height: 30px; float: left;margin-bottom: 10px;}
.smeg_header.org > .inner .gnb_company{float: left;}
.smeg_header.org > .inner .gnb_company>li{float: left;margin-right: 20px;}
.smeg_header.org > .inner .gnb_form{float: right;}
.smeg_header.org > .inner .gnb_form>li{float: left;margin-left: 40px;}
/*org-main_nav*/
.smeg_header.org > .inner .main_nav{float: left;width: 100%;}
.smeg_header.org > .inner .logo{float: left;width: 113px;height: 22px;margin-right: 75px;}
.smeg_header.org > .inner .logo>a{display: block;width: 100%;height: 100%;background: url(../images/white-smeg-logo.png)no-repeat center;background-size: cover;}
/*org-lnb_wrap*/
.smeg_header.org > .inner .lnb_wrap{float: left;height:60px;}
.smeg_header.org > .inner .lnb_wrap>ul{float:left;height:100%;}
.smeg_header.org > .inner .lnb_wrap>ul>li{float: left;height:100%;padding: 0 30px;position:relative;}
.smeg_header.org > .inner .lnb_wrap>ul>li>ul{position: absolute;left: 0;top: 50px;width:780px;display: none;}
.smeg_header.org > .inner	.lnb_wrap>ul>li>ul:after{content: '';display: block;width: 100%;height: 47px;position:fixed;top: 61px;left: 0;z-index:-1;overflow:hidden;}
.smeg_header.org > .inner .lnb_wrap>ul>li>ul>li{float:left;padding-top:10px;}
.smeg_header.org > .inner .lnb_wrap>ul>li>ul>li>a{display: inline-block;font-size: 1.4rem;padding:15px 5px;font-weight: bold;color: #fff;}
.smeg_header.org > .inner .lnb_wrap>ul>li>a{display: inline-block;font-size: 1.6rem;line-height: 22px;height:100%;font-weight: bold;color: #fff;}
.smeg_header.org > .inner .lnb_wrap>ul>li>a:hover +ul{display:block;}
.smeg_header.org > .inner .lnb_wrap>ul>li>a.open +ul{display:block;}
.smeg_header.org > .inner .lnb_wrap>ul>li>a:after{content: '';display: block;padding-top: 10px;width: 100%;border-bottom:3px solid #ccc;display: none;}
.smeg_header.org > .inner .lnb_wrap>ul>li:hover a:after{display: block;}
.smeg_header.org > .inner .lnb_wrap>ul ul a:hover{color: #0077df;font-weight:bold;}
/*org-sub_menu*/
.smeg_header.org > .inner .sub_menu{float: right;}
.smeg_header.org > .inner .sub_menu>ul{float: left;}
.smeg_header.org > .inner .sub_menu>ul>li{float: left;margin-left: 30px;}
.smeg_header.org > .inner .sub_menu>ul>li>a{display:inline-block;font-size: 1.6rem;line-height: 22px;color: #fff;}
.smeg_header.org > .inner .sub_menu>ul>li:nth-child(1)>a{width: 29px;height:25px; background: url(../images/hed-white-shopbasket-ico.png)no-repeat center; background-size: cover;}
.smeg_header.org > .inner .sub_menu>ul>li:nth-child(2){position: relative;}
.smeg_header.org > .inner .sub_menu>ul>li:nth-child(2)>a{font-size: 1.4rem;line-height:0px;position: relative;text-transform: uppercase; z-index: 200;}
.smeg_header.org > .inner .sub_menu>ul>li:nth-child(2)>a>.btn{width:40px;transform: rotate(0deg);margin-top:0px;transition: all 0.4s;}
.smeg_header.org > .inner .sub_menu>ul>li:nth-child(2)>a>.btn.on{transform: rotate(90deg);margin-top: 20px;}
.smeg_header.org > .inner .sub_menu>ul>li:nth-child(2)>a>.btn>span{display: block;width: 100%;height: 2px;background: #fff;}
.smeg_header.org > .inner .sub_menu>ul>li:nth-child(2)>a>.btn>span:nth-child(1){margin-top: 10px;}
.smeg_header.org > .inner .sub_menu>ul>li:nth-child(2)>a>.btn>span:nth-child(2){width: 25px;height: 3px;margin: 4px 0; }
/*modal*/
.modal{position:absolute;top: -40px;right:0px;width: 1300px;height:850px;padding: 36px; background:#0077df;z-index: 100;display: none;}
.modal form{float: left;width: 1050px;height: 50px;}
.modal form>fieldset{float: left;width: 100%;height: 100%;}
.modal form>fieldset>input:first-child{float: left;width:980px;height: 100%;padding-left: 50px; font-size: 2rem;border-style: none;}
.modal form>fieldset>input:last-child{float: left;width: 70px;height: 100%;border: none;background:none;background:#fff url(../images/total-search-blue-btn.png)no-repeat center;background-size:25px;font-size: 0;}
.modal .open_wrap{float: right;width:40px;height: 29px;margin-right: 105px;}
.modal .open_wrap>a{display: block;width: 100%;height: 100%;color: #fff;font-size: 1.4rem;}
.modal a>.btn>span{display: block;width: 40px;height: 2px;background: #fff;}
.modal a>.btn>span:nth-child(1){margin-top: 2px;}
.modal a>.btn>span:nth-child(2){width: 25px;height: 3px;margin: 4px 0; }
.modal .con{float: left;width: 100%;margin-top:50px;}
.modal .con .refrigerator{float: left;width: 100%;height: 70px;line-height: 70px;}
.modal .con .refrigerator .title_con{float:left;width:182px;height:100%; border-bottom: 1px solid #fff;}
.modal .con .refrigerator .title_con a{display: inline-block;font-size: 1.5rem;text-transform: uppercase;color: #fff;}
.modal .con .refrigerator ul{float: left;width:1046px; height:100%;border-bottom: 1px solid #a3a3a3;}
.modal .con .refrigerator ul li{float: left;}
.modal .con .refrigerator ul li>a{padding: 0 20px;font-size: 1.3rem;color:#fff;text-transform: uppercase;}
/*footer*/
footer{width: 100%;float:left;border-top: 1px solid #ccc;}
.link_bg{width: 100%;float: left;border-bottom: 1px solid #ccc;}
.link_list{width: 100%;height: 72px;}
.left_link{float:left;}
.left_link>li{float:left;}
.left_link>li:after{content: '';display: inline-block;margin:0 9.5px;width: 1px;height: 14px;background: #000;}
.left_link>li:last-child::after{display: none;}
.left_link>li>a{font-size: 1.3rem;line-height: 72px;}
.sns_list{float: right;padding:21px 0;}
.sns_list>li{float: left;margin-left: 10px;width: 22px;height: 22px;line-height: 72px;}
.sns_list>li>a{display: block;width: 100%;height: 100%;}
.sns_list>li:nth-child(1)>a{background: url(../images/footer-mess-ico-cafe.png)no-repeat center;background-size: cover;}
.sns_list>li:nth-child(2)>a{background: url(../images/footer-mess-ico-blog.png)no-repeat center;background-size: cover;}
.sns_list>li:nth-child(3)>a{background: url(../images/footer-mess-ico-facebook.png)no-repeat center;background-size: cover;}
.sns_list>li:nth-child(4)>a{background: url(../images/footer-mess-ico-insta.png)no-repeat center;background-size: cover;}
/*footer_bottom*/
.footer_bottom{float: left;padding:50px 0;width: 100%;}
.footer_logo{float: left;width:166px;height: 32px;}
.footer_logo>img{width: 100%;height: 100%;}
.copy_text{float: left;margin-left: 50px;}
.copy_text p{font-size: 1.2rem;}
.copy_text p:first-child{line-height: 30px;letter-spacing:-0.3px;}
.copy_text p>span{margin-right:10px;}
.copy_text p~p{margin-top:30px;color: #969696;}
.copy_text p a{display:inline-block;text-indent:-2px; color: blue;}
.info{float:right;}
.info p:nth-of-type(1){margin-bottom: 10px;font-size:1.2rem;font-weight: bold;text-indent:3px;}
.info b{font-size: 3.4rem;}
.info p:nth-of-type(2){margin:10px 0; font-size: 1.2rem;color: #808080;text-indent:6px;}
.info span{font-size: 1.2rem;display:inline-block;}
.info span:first-of-type{text-indent:6px;}
.info span:after{content: '|';margin: 0 10px;}
.info span:last-child::after{display: none;}