@charset "utf-8";
/*product_wrap*/
.product_wrap{min-width:1235px; width:100%;float:left;}
.product_con{width: 100%;height: 750px;}
.product_wrapper{position: relative;width: 60%;height: 100%;background:rgba(0,0,0,0.7);}
.product_slider{position: absolute;top: 0;left: 0; width: 100%;height:100%;}
.product_slider>li{position: absolute;top: 0;left: 0;width: 100%;height:100%;}
.product_slider>li>a{display: block;width: 100%;height: 100%;}
.product_slider>li:nth-child(1)>a{background: url(../images/img01.jpg)no-repeat center;background-size: cover;}
.product_slider>li:nth-child(2)>a{background: url(../images/img02.jpg)no-repeat center;background-size: cover;}
.product_slider>li:nth-child(3)>a{background: url(../images/img03.jpg)no-repeat center;background-size: cover;}
.product_slider>li:nth-child(4)>a{background: url(../images/img04.jpg)no-repeat center;background-size: cover;}
.product_slider>li:nth-child(5)>a{background: url(../images/img05.jpg)no-repeat center;background-size: cover;}
.product_slider>li:nth-child(6)>a{background: url(../images/img06.jpg)no-repeat center;background-size: cover;}
/*main*/
#main_con{float:left;}
/*product_info*/
.product_info{position: absolute;top:50%;right: -500px; transform:translateY(-50%);width: 760px;padding: 60px;background: #fff;}
.product_info>.info_slider{float: left;position: relative;width:100%;height:140px;margin: 0 auto;}
.product_info>.info_slider>li{position: absolute;top: 50%;left: 50%;transform:translate(-50%,-50%);width: 100%;height: 100%;}
.product_info>.info_slider>li{display: none;}
.product_info>.info_slider>li:nth-child(1){display: block;}
.product_info>.info_slider>li>a{display: block;width: 100%;height: 100%;}
.product_info>.info_slider>li>a>p{font-size: 2rem;margin-bottom: 20px;}
.product_info>.info_slider>li>a>h3{font-size: 5rem;word-spacing:-5px;}
/*info_indi*/
.info_indi{float: left;width: 100%;height: 40px;margin:30px 0 70px;}
.info_indi>.indi_wrap{width: 100%;height: 100%;}
.info_indi>.indi_wrap>li{display: inline-block;width: 40px;height: 40px;border-radius: 50%;margin:0; margin-left: 10px;text-align: center;line-height: 35px;}
.info_indi>.indi_wrap>li:first-child{margin-left: 0;}
.info_indi>.indi_wrap>li>a{display: block;width:100%;height: 100%;font-size: 1.8rem;font-weight: bold;color: #ccc;}
.info_indi>.indi_wrap>li.on >a{border: 2px solid #000;border-radius: 50%; color: #000;}
/*btn_wrap*/
.btn_wrap{width: 100%;height: 20px;float: left;position:relative;margin-bottom: 80px;}
.btn_wrap>a{display: inline-block;width: 26px;height: 20px;position: absolute;}
.btn_wrap>a:first-child{right: 0; background: url(../images/slick-arrow-next-ico.png)no-repeat center;background-size: cover;}
.btn_wrap>a:last-child{left: 0; background: url(../images/slick-arrow-prev-ico.png)no-repeat center;background-size: cover;}
/*info_text*/
.info_text{float: left;width: 100%;height: 80px;}
.info_text>.text_slider{position: relative;width: 100%;height: 100%;}
.info_text>.text_slider>li{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);width: 100%;height: 100%;}
.info_text>.text_slider>li{display: none;}
.info_text>.text_slider>li:nth-child(1){display: block;}
.info_text>.text_slider>li>a{display: block;width: 100%;height: 100%;}
.info_text>.text_slider>li>a>p:first-child{font-size:1.4rem;font-weight: 600;margin-bottom: 30px;color: #a3a3a3;}
.info_text>.text_slider>li>a>p:last-child{font-size: 1.4rem;line-height: 20px;font-weight: 600;color: #585858;}
/*smeg_new*/
.smeg_new{float: left;width: 100%;padding-top: 160px;}
.smeg_new h2{margin-bottom: 35px;font-size: 4rem;text-align: center;font-weight: lighter;}
.smeg_new .news_con{width: 100%;float: left;}
.smeg_new .news_con>li{float: left;width: 399px;height: 399px;margin-left:19px;}
.smeg_new .news_con>li:first-child{margin-left: 0;}
.smeg_new .news_con>li>a{display: block;width: 100%;height: 100%;}
/*smegaine_wrap*/
.smegaine_wrap{float: left;width: 100%;margin-top: 160px; padding:120px 0 160px;background: #111111;}
.smegaine_wrap h2{font-size: 4rem;margin-bottom: 35px;text-align: center;color: #fff;font-weight: lighter;}
.smegaine_wrap .smegaine_con{width: 100%;float: left;}
/*common*/
.left{float: left;}
.right{float: right;}
.bottom{margin-bottom: 9.5px;}
.middle{margin-top: 9.5px;margin-bottom: 9.5px;}
.top{margin-top: 9.5px;}
.smegaine_wrap .big{width:608px;height:598.5px;}
.smegaine_wrap .small{width:294.5px;height:294.5px;}
.smegaine_wrap .left_con{width:608px;float: left;margin-right: 9.5px;}
.smegaine_wrap .right_box{width:608px;float: right;margin-left: 9.5px;}
.smegaine_wrap .social>a{padding: 20px 0 0 20px;}
/*event*/
.smegaine_wrap li>a{display: block;width: 100%;height: 100%;position: relative;transition: all 0.4s ease;}
.smegaine_wrap .con>a>.text_con{position: absolute;top: 0;left: 0;width: 100%;height: 100%;padding: 40px; background:rgba(0,0,0,0.6);}
.smegaine_wrap .social>a>.text_con{position: absolute;bottom: 0;left: 0;width: 100%;height:85px;padding:15px 10px;text-align: center;line-height: 55px; background:rgba(0,0,0,0.6);}
.smegaine_wrap .big .text_con>h3{font-size: 4rem;word-spacing:-5px;letter-spacing: -0.5px; color: #fff;}
.smegaine_wrap .small>a>.text_con>h3{font-size: 1.7rem;word-spacing: -3px;letter-spacing: -0.5px; color: #fff;}
.smegaine_wrap .small>a>.text_con>h3:after{content: '';display: block;width: 50px;height: 1px;margin-top:50px; background: #fff;}
.smegaine_wrap .big>a>.text_con>h3:after{content: '';display: block;width: 70px;height: 1px;margin: 50px 0; background: #fff;}
.smegaine_wrap .big>a>.text_con>p{font-size: 1.6rem;color: #fff;}
.smegaine_wrap .social>a>.text_con>span{font-size: 1.2rem;color: #fff;font-weight:bold;}
.smegaine_wrap .social>a>.text_con>span{text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;}
.smegaine_wrap .social>a:hover span{ text-shadow:none;}
/*left_con*/
.smegaine_con .left_con .big{background: url(../images/smegazine_01.jpg)no-repeat center;background-size: cover;}
.smegaine_con .left_con .small:nth-child(2){background: url(../images/smegazine_02.png)no-repeat center;background-size: cover;}
.smegaine_con .left_con .small:nth-child(3){background: url(../images/smegazine_03.png)no-repeat center;background-size: cover;}
.smegaine_con .left_con .social:nth-child(4){background: url(../images/smegazine_04.jpg)no-repeat center;background-size: cover;}
.smegaine_con .left_con .social:nth-child(5){background: url(../images/smegazine_05.jpg)no-repeat center;background-size: cover;}
/*left_social_icon*/
.smegaine_con .left_con .social:nth-child(4)>a:before{content: '';display: block;width: 38px;height: 38px; background:url(../images/mn-messenger-ico.png)no-repeat;background-position: 0;}
.smegaine_con .left_con .social:nth-child(5)>a:before{content: '';display: block;width: 38px;height: 38px; background:url(../images/mn-messenger-ico.png)no-repeat;background-position: -38px;}
/*right_con*/
.smegaine_con .right_box .big{background:url(../images/smegazine_08.jpg)no-repeat center;background-size: cover;}
.smegaine_con .right_box .small:nth-child(1){background:url(../images/smegazine_06.jpg)no-repeat center;background-size: cover;}
.smegaine_con .right_box .small:nth-child(2){background:url(../images/smegazine_07.png)no-repeat center;background-size: cover;}
.smegaine_con .right_box .social:nth-child(4){background:url(../images/smegazine_09.png)no-repeat center;background-size: cover;}
.smegaine_con .right_box .social:nth-child(5){background:url(../images/smegazine_10.png)no-repeat center;background-size: cover;}
/*right_social_icon*/
.smegaine_con .right_box .social:nth-child(4)>a:before{content: '';display: block;width: 38px;height: 38px; background:url(../images/mn-messenger-ico.png)no-repeat;background-position: -76px;}
.smegaine_con .right_box .social:nth-child(5)>a:before{content: '';display: block;width: 38px;height: 38px; background:url(../images/mn-messenger-ico.png)no-repeat;background-position: -114px;}
/*hover*/
.smegaine_wrap li:not(.social)>a{opacity: 0;}
.smegaine_wrap li:not(.social):hover a{opacity: 1;}
/*smeg_review*/
.smeg_review{float: left;width: 100%;/*margin-top: 160px;*/ padding:120px 0 160px;background:#fafafa;}
.smeg_review h2{font-size: 4rem;margin-bottom: 35px;font-weight: lighter;text-align: center;color: #000;}
.smeg_review .review_con{width: 100%;float: left;}
/*common*/
.smeg_review .left_box{float: left;width: 610px;height: auto;}
.smeg_review .right_box{float: right;width: 610px;}
.smeg_review .review_con .text_con{position: relative;padding: 33px 20px;width:305px;height:210px;padding-top: 88.2px;z-index: 5;text-align: center;}
.smeg_review .review_con .big .text_con{position: relative;padding: 33px 20px;width:305px;height:205px; padding-top: 88.2px;z-index: 5;text-align: center;background: #fff;}
.smeg_review .review_con li>a{position: relative;}
.smeg_review .review_con .text_con h4{margin-bottom: 20px; font-size: 1.5rem;word-spacing: -2px;letter-spacing: -0.5px;line-height: 20px;}
.smeg_review .review_con .text_con span{font-size: 1.3rem;color: #a5a5a5;}
.smeg_review .review_con a:hover .text_con{color: #fff;transition: all 0.4s;}
/*left_box*/
.smeg_review .left_box>.right_text{width:100%;height:210px;margin-bottom: 15px;position: relative;}
.smeg_review .left_box>.right_text>a{display: block;width:100%;height: 100%;padding-left: 50%;}
.smeg_review .left_box>.right_text>a:after{content: '';display: block;position: absolute;bottom: 0;right: 0;width: 50%;height: 0%;background:#0077df;transition: all 0.4s;}
.smeg_review .left_box>.right_text>a:hover::after{height: 100%;}
.smeg_review .left_box>.left_text>a{display: block;width:100%;height: 100%;padding-right: 50%;}
.smeg_review .left_box>.left_text{width:100%;height:210px;margin-bottom: 15px;}
.smeg_review .left_box>.left_text>a{display: block;width: 100%;height: 100%;}
.smeg_review .left_box>.left_text>a:after{content: '';display: block;position: absolute;bottom: 0;left: 0;width: 50%; height: 0%;background:#0077df;transition: all 0.4s;}
.smeg_review .left_box>.left_text>a:hover::after{height: 100%;}
.smeg_review .left_box>.big{width:100%;height:410px;}
.smeg_review .left_box>.big>a{display: block;width: 100%;height: 100%;padding-top: 205px;}
.smeg_review .left_box>.big>a .text_con{position: relative;}
.smeg_review .left_box>.big>a .text_con:after{content: '';display: block;position: absolute;bottom:0;left: 0; width:305px;height:0%;background:#0077df;z-index: -1;transition: all 0.4s;}
.smeg_review .left_box>.big>a:hover .text_con:after{height: 100%;}
/*right_box*/
.smeg_review .right_box>.big{margin-bottom:15px;width:100%;height:410px;}
.smeg_review .right_box>.right_text{margin-bottom:15px;width:100%;height:210px;}
.smeg_review .right_box>.big>a{display: block;width: 100%;height: 100%;}
.smeg_review .right_box>.left_text{width:100%;height:210px;}
.smeg_review .right_box>.right_text>a{display: block;width: 100%;height: 100%;padding-left: 50%;}
.smeg_review .right_box>.left_text>a{display: block;width: 100%;height: 100%;padding-right: 50%;}
.smeg_review .right_box>.right_text>a:after{content: '';display: block;position: absolute;bottom: 0;right: 0;width: 50%;height: 0%;background:#0077df;transition: all 0.4s;}
.smeg_review .right_box>.right_text>a:hover::after{height: 100%;}
.smeg_review .right_box>.left_text>a{display: block;width:100%;height: 100%;padding-right: 50%;}
.smeg_review .right_box>.left_text{width:100%;height:210px;margin-bottom: 15px;}
.smeg_review .right_box>.left_text>a{display: block;width: 100%;height: 100%;}
.smeg_review .right_box>.left_text>a:after{content: '';display: block;position: absolute;bottom: 0;left: 0;width: 50%; height: 0%;background:#0077df;transition: all 0.4s;}
.smeg_review .right_box>.left_text>a:hover::after{height: 100%;}
.smeg_review .right_box>.big{width:100%;height:410px;}
.smeg_review .right_box>.big>a{display: block;width: 100%;height: 100%;padding-top: 205px;}
.smeg_review .right_box>.big>a .text_con{position: relative;}
.smeg_review .right_box>.big>a .text_con:after{content: '';display: block;position: absolute;bottom:0;left: 0; width:305px;height:0%;background:#0077df;z-index: -1;transition: all 0.4s;}
.smeg_review .right_box>.big>a:hover .text_con:after{height: 100%;}
/*img*/
.smeg_review .left_box>li:nth-child(1){background: url(../images/review_img01.png)no-repeat;background-size:305px;background-position: left;}
.smeg_review .left_box>li:nth-child(2){background: url(../images/review_img02.jpg)no-repeat;background-size:306px;background-position:right;}
.smeg_review .left_box>li:nth-child(3){background: url(../images/review_img03.PNG)no-repeat;background-size:cover;background-position:center;}
.smeg_review .right_box>li:nth-child(1){background: url(../images/review_img04.png)no-repeat;background-size:cover;background-position:center;}
.smeg_review .right_box>li:nth-child(2){background: url(../images/review_img05.png)no-repeat;background-size:305px;background-position:left;}
.smeg_review .right_box>li:nth-child(3){background: url(../images/review_img06.jpg)no-repeat;background-size:305px;background-position:right;}
/*smeg_class*/
.smeg_class{float:left;width: 100%;margin:160px 0 120px;}
.onday_class{position: relative;width: 100%;height: 385px;background: url(../images/smeg_class.jpg)no-repeat center;background-size: cover;}
.onday_class>.text_con{position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);padding:40px 15px; width: 360px;height:242px;text-align: center;background:#fff;}
.onday_class>.text_con h2{font-size: 2.4rem;font-weight: normal;}
.onday_class>.text_con h2:after{content: 'oneday class';display: block;margin: 15px 0; font-size: 1.2rem;text-transform: uppercase;color: #ffbd00;}
.onday_class>.text_con p{font-size:1.5rem;color: #666;line-height: 23px; }
/*smeg_brand*/
.smeg_brand{float:left;width: 100%;}
.smeg_brand .smeg_about{position: relative;height:560px;overflow: hidden;}
.smeg_brand .smeg_about .about_slider{position: absolute;top: 50%;left:50%;transform: translate(-50%,-50%);width:100%;height:100%;}
.smeg_brand .smeg_about .about_slider>li{position: absolute;top:50%;left: 50%;transform: translate(-50%,-50%);width: 100%;height: 100%;}
.smeg_brand .smeg_about .about_slider>li:nth-child(1){background: url(../images/mn-slide-tab-img-1-1920x560.jpg)no-repeat center;background-size: cover;}
.smeg_brand .smeg_about .about_slider>li:nth-child(2){background: url(../images/mn-slide-tab-img-2-1920x560.jpg)no-repeat center;background-size: cover;}
.smeg_brand .smeg_about .about_slider>li:nth-child(3){background: url(../images/mn-slide-tab-img-3-1920x560.jpg)no-repeat center;background-size: cover;}
.smeg_brand .smeg_about .about_slider>li>a{text-align: center;}
.smeg_brand .smeg_about .about_slider>li>a h5{margin: 260px 0 40px; font-size: 4rem;color: #fff;font-weight: lighter;}
.smeg_brand .smeg_about .about_slider>li>a p{font-size: 1.3rem;color: #fff;line-height: 20px;word-spacing:-2px;}
/*indi_wrap*/
.smeg_brand_indi{position: absolute;top:100px;left: 50%;transform: translateX(-50%);width: 100%;text-align: center;z-index: 50;}
.smeg_brand_indi li{display: inline-block;padding-bottom: 20px;}
.smeg_brand_indi li:nth-child(2){margin:0 50px;}
.smeg_brand_indi li.show{border-bottom: 2px solid #fff;}
.smeg_brand_indi  li>a{font-size:1.5rem;color: #fff;font-weight:bold;}
/*btn_wrap*/
.smeg_brand_btn{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);padding: 0 100px; width:100%;height:28px;}
.smeg_brand_btn  li:first-child{float: right;width:36px;height: 100%;}
.smeg_brand_btn  li:last-child{float:left;width: 36px;height: 100%;}
.smeg_brand_btn  li>a{display: block;width: 100%;height:100%;}
.smeg_brand_btn  li:first-child>a{background:url(../images/main-slick-arrow-next-ico.png)no-repeat center;background-size: cover;}
.smeg_brand_btn  li:last-child>a{background:url(../images/main-slick-arrow-prev-ico.png)no-repeat center;background-size: cover;}
/*membership_wrap*/
.membership_wrap{width: 100%;float: left;}
.membership_wrap .membership_btn{float: left;padding: 50px 0 30px; width: 100%;height: 180px;background: #111111;}
.membership_wrap .membership_btn .membership{width: 100%; margin-bottom: 20px;text-align:center;}
.membership_wrap .membership_btn .membership>a{display: inline-block;width: 218px;height: 53px; background: url(../images/mn-smeg-membership-txt.png)no-repeat center;background-size: cover;}
.membership_wrap .membership_btn .close{width: 100%;text-align: center;}
.membership_wrap .membership_btn .close>a{display: inline-block;width: 20px;height: 11px; background: url(../images/member-cont-ico-close.png)no-repeat center;background-size: cover;}
.membership_wrap .membership_btn.open .close>a{display: inline-block;width: 20px;height: 11px; background: url(../images/member-cont-ico-open.png)no-repeat center;background-size: cover;}
/*membership_con*/
.membership_con{float: left;margin-bottom: 30px; width: 100%;height:0px; background:#0077df;overflow: hidden;}
.membership_con h3{font-size: 4rem;color: #fff;text-align: center;margin:  95px 0 20px;font-weight: lighter;}
.membership_con p:nth-of-type(1){font-size: 1.5rem;color: #fff;text-align: center;font-weight:500;}
.membership_con .service_list{width:1000px;margin: 60px auto 0;text-align: center;}
.membership_con .service_list li{float: left;margin-right: 50px;width: 160px;}
.membership_con .service_list li:last-child{margin-right: 0;}
.membership_con .service_list li p{margin-top:20px;font-size:  1.4rem;color: #fff;}
.membership_con p:nth-of-type(2){margin-top: 50px; text-align: center;font-size: 1.2rem;color: #fff;}