<!DOCTYPE html>
<html>
<head>
    {{>commonheader}}
</head>
<body>
    {{#if main_2}}
        <div id="main_2" class="wrapper">
        {{{body}}}
        </div>
    {{else}}
        <div class="wrapper">
            {{{body}}}
        </div>
    {{/if}}
</body>
</html>