<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/reset">
    <link rel="stylesheet" href="/scss">
    <script src="/jquery"></script>
    {{#if logins}}
    <script src="/login"></script>
    {{/if}}
    {{#if video}}
    <script src="/video"></script>
    {{/if}}
    <script src="/common"></script>