<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/reset">
    <link rel="stylesheet" href="/scss">
    <script src="/jquery"></script>
    {{#if logins}}
    <script src="/login"></script>
    {{/if}}
    {{#if live}}
    <link rel="stylesheet" href="/video_css">
    <script src="/video"></script>
    <script src="/video_js"></script>
    {{/if}}
    <script src="/common"></script>
    <script src="/ui_js"></script>
    <script src="/moment"></script>
    