{{#if ifnum}}
    <header class="header_top main">
        <h1 class="log">{{title}}</h1>
        <nav class="lnb">
            <li class="lnb_item"><a href="#">Lorem</a></li>
            <li class="lnb_item"><a href="#">architecto beatae.</a></li>
            <li class="lnb_item"><a href="#">Consectetur ipsa eius.</a></li>
            <li class="lnb_item"><a href="#">praesentium delectus!</a></li>
        </nav>
    </header>
{{else}}
    <header class="header_top">
        <h1 class="log">{{title}}</h1>
        <img src="/img/test.png" alt="">
    </header>
{{/if}}