@charset "utf-8";
body{font-family: 'Noto Sans KR', sans-serif;background:url(../img/bg_04.png)no-repeat;}
.inner{max-width:900px;height:100vh; margin:0 auto;position:relative;}
.menu{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:100%;text-align:center;}
.menu .notice{margin-bottom:50px; font-size:16px;font-weight:500;}
.menu .notice .name{font-size:20px;font-weight:bold;color:#285bb9;border:none;}
.menu a{display:inline-block;margin-right:50px;width:100px;height:100px;background:#2d6ce0;color:#fff;text-align:center;border-radius:15px;box-shadow:0px 0px 5px #285bb9;}
.menu a:last-child{margin-right:0px;}
.menu a .selector{display:inline-block;font-size:16px;text-align:center;font-weight:600;text-transform:capitalize;}
.menu a:nth-child(2) .selector:before{content:'';display:inline-block;margin-top:10px; width:50px;height:50px;background:url(../img/crom.png)no-repeat center center;}
.menu a:nth-child(3) .selector:before{content:'';display:inline-block;margin-top:10px; width:50px;height:50px;background:url(../img/explore.png)no-repeat center center;}
.menu a:nth-child(4) .selector:before{content:'';display:inline-block;margin-top:10px; width:50px;height:50px;background:url(../img/Phone.png)no-repeat center center;}
@media screen and (max-width:758px) {
    body{background-size:100%;}
}
@media screen and (max-width:499px) {
    body{background-size:100%;}
    .menu .notice{margin-bottom:10%;word-break:keep-all;}
    .inner{width:100%;height:100vh;margin:0 auto;position:relative;}
    /* .menu{position:static;top:auto;left:auto;transform:translate(0%,0%);width:100%;text-align:center;} */
    .menu a{display:block;margin:0 auto 5% auto;width:95%;height:100px;background:#2d6ce0;color:#fff;text-align:center;border-radius:15px;box-shadow:0px 0px 5px #285bb9;}
    .menu a:last-child{margin-right:auto;}
    .menu a .selector{position:relative;display:block;height:100%;line-height:100px;}
    .menu a .selector:before{position:absolute;left:15%;top:40%;transform:translateY(-50%);}
}
